@model Ornament.Models.Messages.NewsTypeModel
@using Ornament.Web.HtmlExtends

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}

@section pageTitle
{
    <h6>Create new Message Type</h6>
}
<div class="widget">
    <div class="well body">
        <form action="@Url.Action("Edit")" class="form-horizontal" method="POST">
            @Html.Partial("_messageTypeEditor", this.Model)
            
            <div class="form-actions">
                <input type="submit" class="btn btn-info"  value="@Resources.Basic.Submit"/>
                  <a href="@Url.Action("Index")" class="btn">@Resources.Basic.Cancel</a>
            </div>
        </form>
    </div>
</div>
