@using Ornament
@using Ornament.Web
@using Ornament.Properties
@using Ornament.Web.UI.Theme
@using Qi.Web
@model Ornament.MemberShip.Permissions.Permission
@{
    ViewBag.Title = "Permission";
    Layout = OrnamentContext.Configuration.Layout();
    object jsonObject = null;
    if (this.Model != null)
    {
        jsonObject = new
        {
            Id = this.Model.Id,
            Name = this.Model.Name,
            Remark = this.Model.Remark,
            Operator = this.Model.Operator

        };
    }
}
@section pageTitle{
    <h5>Permission</h5>
}
@using (var panel = Html.Panel())
{
    @panel.Header(@<text>
    Edit Permissions
                   </text>)

    <form id="wizard2" method="post" action="@Url.Action("Save")" class="form-horizontal row-fluid well">
        <div id="bootstrap-wizard-1">
            <div class="form-bootstrapWizard" col-sm-12>
                <ul class="bootstrapWizard form-wizard">
                    <li class="active" data-target="#step1">
                        <a href="#tab1" data-toggle="tab"><span class="step">1</span> <span class="title">选择资源类别</span> </a>
                    </li>
                    <li data-target="#step2">
                        <a href="#tab2" data-toggle="tab"><span class="step">2</span> <span class="title">选择你要对应资源</span> </a>
                    </li>
                    <li data-target="#step3">
                        <a href="#tab3" data-toggle="tab"><span class="step">3</span> <span class="title">设置许可证基础信息</span> </a>
                    </li>
                    <li data-target="#step4">
                        <a href="#tab4" data-toggle="tab"><span class="step">4</span> <span class="title">Save Form</span> </a>
                    </li>
                    <li class="clearfix"></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    @{
    var i = -1;
    foreach (var resourceDescription in OrnamentContext.ResourceManager.Configuration().ResourceSettings)
    {
        bool foundSelected = i == -1 || (this.Model != null && resourceDescription.ValueType == this.Model.Resource.GetType());
        i++;

                        <div class="control-group">
                            <label for="@("ResourceType" + i)">
                                @Html.RadioButton("DescriptionResourceName", resourceDescription.Name, foundSelected, new { id = "ResourceType" + i })
                                @resourceDescription.Name
                            </label>
                        </div>
    }
                    }
                </div>

                <div class="tab-pane" id="tab2">
                    <div id="resViewContent">
                    </div>
                </div>

                <div class="tab-pane" id="tab3">
                    <div id="editPermissionView">
                        <div class="form-group">
                            @Html.LabelFor(s => s.Name, new { @class = "form-control" })
                            <div >
                                @Html.TextBoxFor(s => s.Name)
                                @Html.ValidationMessageFor(s => s.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.Remark, new { @class = "form-control" })
                            <div>
                                @Html.TextAreaFor(s => s.Remark)
                                @Html.ValidationMessageFor(s => s.Remark)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control">@Html.GetEmbededResourceString("Operators")</label>
                            <div id="operators">
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="tab-pane" id="tab4">
                    <h5>Complete, click next for submit.</h5>
                </div>

                <div class="form-actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="pager wizard no-margin">

                                <li class="previous disabled">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-default">Previous </a>
                                </li>

                                <li class="next">
                                    <a href="javascript:void(0);" class="btn btn-lg txt-color-darken">Next </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="form-actions align-right">
            <div id="status1" class="status"></div>
            <input class="btn" id="back-2" value="Back" type="reset" />
            <input type="submit" class="btn btn-danger" id="next-2" value="Next">
        </div>
        @Html.Hidden("operators", Model != null ? Model.Operator : 0)
        @Html.HiddenFor(s => s.Id)
    </form>
}


@section scripts
{
    <script type="text/javascript">
        require(["@Scripts.Url("/memberships/scripts/permissions/permission.js")"], function (main) {

            main(@(jsonObject != null ? Html.Raw(JsonHelper.ToJson(jsonObject)) : new MvcHtmlString("null")));

        });
    </script>

}
