@using Ornament.MemberShip
@using Qi.Web.Mvc
@model Ornament.MemberShip.Org
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    var parent = ViewData["ParentOrg"] as Org;
}
@Html.Partial("OrgNavigator", parent)
<div class="box">
    <div class="content">
        <form class="form-horizontal" method="post" action="@Url.Action("Create")">
        <div class="control-group">
            @Html.LabelFor(s => s.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(s => s.Name)
                @Html.ValidationMessageFor(s => s.Name)
            </div>
        </div>
        <div class="control-group">
            <div class="control-group">
                @Html.LabelFor(s => s.Remark, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(s => s.Remark)
                    @Html.ValidationMessageFor(s => s.Remark)
                </div>
            </div>
        </div>
        @Html.Hidden("ParentId", parent != null ? parent.Id.ToString() : "")
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="icon-pencil icon-white"></i>@Resources.Basic.Create</button>
            <button type="button" class="btn btn-warning" href="@Url.Action("Index")">
                <i class="icon-warning-sign icon-white"></i>@Resources.Basic.Cancel</button>
        </div>
        </form>
    </div>
</div>
@section script
{
    <script type="text/javascript">

        $(".form-actions button:first").click(function () {
            $("form").submit();
        }).next().click(function () {
            document.location = $(this).attr("href");
        });

    </script>
}
