@using Ornament.MemberShip
@using Resources
@model Ornament.Models.Memberships.OrgModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
@section pageTitle
{
    @if (this.Model != null && this.Model.Parent != null)
    {
        <h5>Parent Org: @Model.Parent.Name</h5>
    }
    else
    {
        <h5>Parent Org : Root</h5>
    }
    <span></span>
}

<div class="widget">

    <div class="well">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Save", "Org", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorFor(s => s.Name)
            @Html.EditorFor(s => s.Remark)
            @Html.EditorFor(s => s.Roles)
          
            
            @Html.Hidden("Parent", (this.Model != null && this.Model.Parent != null) ? this.Model.Parent.Id : "")
            <div class="form-actions">
                <button class="btn btn-primary">@Basic.OK</button>
                <button onclick=" location = '@Url.Action("Index")' " class="btn">@Basic.Cancel</button>
            </div>
        }

    </div>
</div>
