@using Ornament
@using Ornament.MVCWebFrame.Models
@using Ornament.MVCWebFrame.Models.Membership
@using Ornament.MemberShip
@using Ornament.Web
@using Resources
@model Ornament.MemberShip.Org
@{
    ViewBag.Title = "Organization";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    string parentId = Model != null ? Model.Id : "";
    var childOrgs = ((IEnumerable<Org>)ViewData["Orgs"]);
    bool editPermission = OrnamentContext.MemberShip.HasRight(ResourceSetting.Org, OrgOperator.Modify);
}
@section pageTitle
{
    @if (this.Model == null || this.Model.Parent == null)
    {
        <h5>Org List </h5>
    }
    else
    {
       
        <h5>@this.Model.Name</h5>
    }
    <span>
        @Html.Partial("OrgNavigator", this.Model)
    </span>
}

<div class="widget">
    <div class="navbar">
        <div class="navbar-inner">
            <a  class="btn btn-primary" href="@Url.Action("Create", new { parentId = parentId })"><i class="icon-white icon-plus"></i>
                @Basic.Create
            </a>
        </div>
    </div>
    <div class="body well">
        @if (childOrgs.Count() != 0)
        {
            <div class="row">
                @if (childOrgs.Count() != 0)
                {
                    <div class="span4">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 40px"></th>
                                    <th>
                                        @Html.LabelFor(s => s.Name)
                                    </th>
                                    <th>
                                        @Html.LabelFor(s => s.Remark)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (Org item in childOrgs)
                            {
                                <tr>
                                    <th>
                                        <a href="@Url.Action("index", new { id = item.Id })" class="btn btn-info btn-mini"><i class="icon-arrow-right icon-white"></i></a>
                                    </th>
                                    <td>@item.Name
                                    </td>
                                    <td>@item.Remark
                                    </td>
                                    <td>
                                        @if (editPermission)
                                        {
                                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-info btn-mini"><i class=" icon-edit icon-white"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }

            </div>
        }
        else
        {
            <div class="alert">
                Not found org.
            </div>
        }
    </div>
</div>
