@using Ornament
@using Ornament.MVCWebFrame.Models
@using Ornament.MVCWebFrame.Models.Membership
@using Ornament.MemberShip
@using Ornament.Web
@using Resources
@model Ornament.MemberShip.Org
@{
    ViewBag.Title = "Organization";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    string parentId = Model != null ? Model.Id : "";
    var childOrgs = ((IEnumerable<Org>) ViewData["Orgs"]);
    bool editPermission = OrnamentContext.MemberShip.HasRight(ResourceSetting.Org, OrgOperator.Modify);
}
@section pageTitle
{
    <h5>Org List </h5>
}
<div class="widget">
    <div class="navbar">
        <div class="navbar-inner">
            <a  class="btn btn-primary" href="@Url.Action("Create", new {id = parentId})"><i
                                                                                              class="icon-white icon-plus"></i>@Basic.Create
            </a>
        </div>
    </div>

    <div class="body">

        @Html.Partial("OrgNavigator", Model)
        <div class="row">
            @if (childOrgs.Count() != 0)
            {
                <div class="span4">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    @Html.LabelFor(s => s.Name)
                                </th>
                                <th>
                                    @Html.LabelFor(s => s.Remark)
                                </th>
                            </tr>
                        </thead>
                        @foreach (Org item in childOrgs)
                        {
                            <tr>
                                <th>
                                    <a href="@Url.Action("index", new {id = item.Id})" class="btn btn-info btn-mini"><i
                                                                                                                         class="icon-arrow-right icon-white"></i></a>
                                </th>
                                <td>@item.Name
                                </td>
                                <td>@item.Remark
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
            @if (Model != null)
            {
                <form method="post" class="form-horizontal span6 offset2" action="@Url.Action("Edit")">
                    @if (Model.Parent != null)
                    {
                        <input type="hidden" value="@Model.Parent.Id" name="parentId"/>
                    }
                    <input type="hidden" name="Id" value="@Model.Id"/>
                    <div class="control-group">
                        @Html.LabelFor(s => s.Name, new {@class = "control-label"})
                        <div class="controls">
                            @(editPermission ? Html.TextBoxFor(s => s.Name) : Html.TextBoxFor(s => s.Name, new {disabled = "disabled"}))
                            @Html.ValidationMessageFor(s => s.Name)
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(s => s.Remark, new {@class = "control-label"})
                        <div class="controls">
                            @(editPermission ? Html.TextAreaFor(s => s.Remark) : Html.TextAreaFor(s => s.Remark, new {disabled = "disabled"}))
                            @Html.ValidationMessageFor(s => s.Remark)
                        </div>
                    </div>
                    @if (editPermission)
                    {
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-pencil icon-white"></i>@Basic.Save</button>
                        </div>
                    }
                </form>
            }
        </div>
    </div>
</div>