@using Resources
@model QiProject.Product
@Html.ValidationSummary(true)
@Html.HiddenFor(s => s.Id)
<div class="control-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Components, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(s => s.Components, "EditorTemplates/Components")
        @Html.ValidationMessage("componentsId")
    </div>
</div>
