@using Ornament.Web
@using Resources
@model string
<style type="text/css">
    /* 
    datepicker z-index can't be used modal dialog, so i change it's z-index
    */
    
    .dropdown-menu
    {
        z-index: 100000;
    }
</style>
<script type="text/javascript">
    //following code need to use confirm.js to rewrite.
    (function ($) {

        var defaults = {
            success: false
        };

        $.fn.periodDailog = function (options) {

            var result, args = arguments,

            target = $(this).each(function () {
                var $this = $(this), data = $this.data('periodDailog');
                if (!data) {
                    var inc = new periodDailog($(this), $.extend({}, defaults, options));
                    $(this).data("periodDailog", inc);
                }

                if (typeof options == 'string') {
                    var a = $.makeArray(args);
                    a.shift();
                    var func = data[options];
                    if ($.isFunction(func)) {
                        result = data[options].apply(data, a);
                    }
                    //it should be set or get option.
                    if (args.length > 1)
                        data.options[options] = args[1];
                    else
                        result = data.options[options];
                }
                return result || target;
            });
        };

        function periodDailog($element, option) {

            this.options = option;
            this.dialogCancel = false;
            this.element = $element;
            var self = this;
            this.element.keypress(function (e) {
                if (e.keyCode == 13) {
                    $element.find("[role=ok]").click();
                    e.preventDefault();
                    e.stopPropagation();
                }
            });
            $element.on("hide", { inc: self }, events.validation)
                .find("[role=ok],[role=cancel]").click(function () {
                    self.dialogCancel = $(this).attr("role") == "cancel";
                    $element.modal("hide");
                });
        }

        periodDailog.prototype = {
            element: false,
            options: false,
            dialogCancel: false,
            getPeriodDailogValue: function () {
                var result = {};

                $(this.element).find("input,textarea").each(function () {
                    var $this = $(this), $group = $this.closest("control-group");
                    if (!$group.hasClass("hide")) {
                        result[$this.attr("role")] = $this.val().replace(/\_/g, "0");
                    }
                });
                return result;
            },
            setPeriodDailogValue: function (r) {
                $(this.element).find("input,textarea").each(function () {
                    var $this = $(this), role = $this.attr("role");
                    $this.val(r[role]);
                });
            },
            show: function (bDateChoice, data) {

                this.element.find("[role=dateSelector]").toggle(bDateChoice);
                this.element.find("input,textarea").val("")
                    .closest(".control-group").removeClass("error");

                if (data) {
                    this.setPeriodDailogValue(data);
                }
                this.element.modal("show");
            }
        };

        var events = {
            validation: function (e) {

                if (e.data.inc.dialogCancel)
                    return true;

                var inc = e.data.inc, result = inc.getPeriodDailogValue();
                var vStart = result.start != "" && result.start <= result.end;
                var vEnd = result.end != "", inputs = $(this).find("input,textarea");
                if (!vStart) {
                    $(inputs[1]).closest(".control-group").addClass("error");
                }
                if (!vEnd) {
                    $(inputs[2]).closest(".control-group").addClass("error");
                }
                if (!vEnd || !vStart) {
                    return false;
                }
                inc.options.success(result);
            }
        };



    })(jQuery);

</script>
<div class="modal hide" id="@Model">
    <div class="modal-header">
        <h4>
            选择时间段</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="control-group" role="dateSelector">
                <label class="control-label">
                    日期
                </label>
                <div class="controls">
                    @Html.DatePicker(DateTime.Now, "yyyy-MM-dd", "dateForPeriod", new { role = "date" })
                    <span class="field-validation-valid help-inline">请输入日期,格式yyyy-MM-dd 如:2012-01-01</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    开始:</label>
                <div class="controls">
                    <div class="input-append">
                        <input size="5" type="text" value="@DateTime.Now.ToString("HH:mm")" inputmask-format="h:s" role="start">
                        <span class="add-on"><i class="icon-time"></i></span>
                    </div>
                    <span class="field-validation-valid help-inline">请输入开始时间，并且要大于结束时间</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    结束:</label>
                <div class="controls">
                    <div class="input-append">
                        <input size="5" type="text" value="@DateTime.Now.ToString("HH:mm")" inputmask-format="h:s" role="end">
                        <span class="add-on"><i class="icon-time"></i></span>
                    </div>
                    <span class="field-validation-valid help-inline">请输入结束时间，并且大于开始时间</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">
                    备注:</label>
                <div class="controls">
                    <textarea size="5" type="text" name="remarks" role="remarks"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" role="ok">@Basic.OK</button>
        <a class="btn" role="cancel">@Basic.Cancel</a>
    </div>
</div>
