@using Resources
@model Ornament.MemberShip.Role
@{
    string subject = Basic.Create + MemberShip.Role;
    ViewBag.Title = subject;
    Layout = "~/Views/Shared/Backend/_applayout.cshtml";
}
<div class="widget">
    <div class="navbar">
        <div class="navbar-inner">
            <button class="btn btn-primary">@Basic.Save</button>
            <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
        </div>
    </div>
    <div class="well form-horizontal">
        @using (Html.BeginForm())
        {

            @Html.ValidationSummary(true)
            <div class="control-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(model => model.Remark, new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(model => model.Remark)
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">@Resources.MemberShip.Permission</label>
                <div class="controls">
                    @Html.Partial("ChoicePermissions", Model)
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Basic.Save</button>
                <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
            </div>
          
        }
    </div>
</div>
