@using Resources
@model Ornament.MemberShip.Role
@{
    string subject = Basic.Edit + Resources.MemberShip.Role + Model.Name;
    ViewBag.Title = subject;
    Layout = "~/Views/Shared/_appLayout.cshtml";
}

@section pageTitle
{
    <h6>@subject</h6>
}
<div class="well form-horizontal">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(model => model.Remark, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(model => model.Remark)
                @Html.ValidationMessageFor(model => model.Remark)
            </div>
        </div>
        @Html.HiddenFor(model => model.Id)
        <div class="control-group">
            <label class="control-label">@MemberShip.Permission</label>
            <div class="controls">
                @Html.Partial("ChoicePermissions", Model)
            </div>
        </div>
        <div class="form-actions" id="toolbar">
            <button class="btn btn-primary">@Basic.Save</button>
            <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
        </div>
         
    }
</div>
