@using Ornament
@using Ornament.MVCWebFrame.Models
@using Ornament.MVCWebFrame.Models.Membership
@using Ornament.Web
@using Qi.Web.Mvc
@using Resources
@using Ornament.MemberShip
@model IEnumerable<Ornament.MemberShip.Role>
@{
    ViewBag.Title = Resources.MemberShip.Role;
    Layout = OrnamentContext.Configuration.BackendLayout();
    var hasDelete = OrnamentContext.MemberShip.HasRight(ResourceSetting.Role, RoleOperator.Delete);
    var hasModify = true; OrnamentContext.MemberShip.HasRight(ResourceSetting.Role, RoleOperator.Modify);
}
@section pageTitle
{
    <h3>@Resources.MemberShip.Role</h3>
}
<div class="widget">
    <div class="well body">
        <a href="@Url.Action("Create")" class="btn"><i class="icon-plus"></i>@Resources.Basic.Create</a>

        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    @if (hasModify || hasDelete)
                    {
                        <th style="width: 100px"></th>
                    }
                    <th>
                        @Html.ContentFor(s => ((Role)null).Name)
                    </th>
                    <th>
                        @Html.ContentFor(s => ((Role)null).Remark)
                    </th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    @if (hasModify || hasDelete)
                    {
                        <td>
                            @if (hasModify)
                            {
                                <a href="@Url.Action("Edit", new { id = item.Id })" title="@Basic.Edit" class="btn btn-info btn-mini">
                                    <i class="icon-edit icon-white"></i></a>
                            }
                            @if (hasDelete)
                            {
                                <a href="@Url.Action("Delete", new { id = item.Id })" title="@Basic.Edit" class="btn btn-danger btn-mini">
                                    <i class="icon-remove icon-white"></i></a>
                            }
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remark)
                    </td>
                </tr>
            }
            <tfoot>
                <tr>
                    <td colspan="3">
                        <form>
                            @Html.Partial("NavPagination", (Pagination)ViewData["Nav"])
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
