@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FullWeb.Areas.Membership.Models.UserInfo
<div class="row">

    <div class=" col-lg-7 col-md-7 col-xs-12 col-sm-12">
        <div class="panel panel-blue">
            <div class="panel-heading">登陆信息</div>
            <div class="panel-body">
               
                <form class="form-horizontal" id="user-edit-form">
                    @Html.ValidationSummary()
                    @Html.HiddenFor(s=>s.Id)
                    <span asp-validation-for="Email"></span>
                    <div class="form-group">
                        <label class="col-md-2 control-label" asp-for="LoginId"></label>
                        <div class="col-md-10">
                            <input class="form-control"
                                   placeholder="@Html.DisplayNameFor(s => s.LoginId)" type="text" asp-for="LoginId">
                            <span asp-validation-for="LoginId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(s => s.Email)</label>
                        <div class="col-md-10">
                            <input class="form-control" placeholder="Default Text Field" type="text" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">@Html.DisplayNameFor(s => s.PhoneNumber)</label>
                        <div class="col-md-10">
                            <input class="form-control" placeholder="Default Text Field" type="text"
                                   asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class=" col-lg-5 col-md-5 col-xs-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">其他信息</div>
            <div class="panel-body">
                <dl>
                    <dt>
                        <label asp-for="LockoutEnabled"></label>
                    </dt>
                    <dd asp-for="LockoutEnabled">
                        
                    </dd>
                    <dt>
                        
                    </dt>
                </dl>
            </div>
        </div>
    </div>

</div>
