@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<FullWeb.Areas.Membership.Models.UserListItem>
@using Ornament.Web.SiteMap
@using FullWeb.Helpers
@{
    var nav = new Queue<Nav>(Html.GetBreadcrumb(3));
}

<!-- MAIN CONTENT -->

<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    @Html.Partial("_pageCrumb")
</div>
<div class="col-sm-12">
    <div class="well">

        <h2>用户查询</h2>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoginId)
                    </th>                  
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>                 
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Name)

                        </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </th>

                </tr>
            </thead>
            <tbody>
            @foreach (var item in this.Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Edit", new {id = item.Id})">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                    <td>
                        @item.LoginId
                    </td>               
                
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.LockoutEnabled
                    </td>
                </tr>

            }
            </tbody>
          
        </table>
        <ul class="pagination">
            <li>
                <a href="javascript:void(0);"><i class="fa fa-arrow-left"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);">1</a>
            </li>
            <li class="active">
                <a href="javascript:void(0);">2</a>
            </li>
            <li>
                <a href="javascript:void(0);">3</a>
            </li>
            <li>
                <a href="javascript:void(0);">4</a>
            </li>
            <li>
                <a href="javascript:void(0);">5</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="fa fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>

</div>




<!-- END MAIN CONTENT -->
@section scripts {
}