@using Ornament
@using Ornament.Web
@using Resources
@model Ornament.MemberShip.Plugin.Models.Memberships.OrgModel

@{
    ViewBag.Title = "title";
    Layout = OrnamentContext.Configuration.BackendLayout();
}

@section pageTitle
{
    <h6>Crreate new Org</h6>
}


<div class="widget">

    <div class="well">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Save", "Org", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorFor(s => s.Name)
            @Html.EditorFor(s => s.Remark)
            @Html.EditorFor(s => s.Roles)
          
            
            @Html.Hidden("Parent", (this.Model != null && this.Model.Parent != null) ? this.Model.Parent.Id : "")
            <div class="form-actions">
                <button class="btn btn-primary">@Basic.OK</button>
                <button onclick="location = '@Url.Action("Index")'" type="button" class="btn">@Basic.Cancel</button>
            </div>
        }

    </div>
</div>
