@using Ornament
@using Ornament.MemberShip
@using Ornament.Web
@model Ornament.Models.Memberships.Partials.UserBasicInfoModel

@Html.HiddenFor(model => model.LoginId)
<div class="control-group">
    @Html.LabelFor(s => s.Email, new { @class = "control-label" })
    <div class="controls">
        <div class="input-append">
            @Html.TextBoxFor(s => s.Email, this.Model)
            <div class="btn-group">
                <button class="btn" id="VerifyEmail" type="button">
                    Verify Email
                </button>
            </div>
        </div>
        @Html.ValidationMessageFor(s => s.Email)
    </div>
</div>

@Html.EditorFor(model => model.IsApprove)
@Html.EditorFor(model => model.IsLock)
@Html.EditorFor(model => model.Org)
@Html.EditorFor(model => model.Roles)
@Html.EditorFor(model => model.UserGroups)
<script type="text/javascript">
    seajs.use(["/models/user",'jquery'], function (d) {
        $("#VerifyEmail").click(function () {
            d.verifyEmail("@this.Model.LoginId", function (data) {
                if (!data.success) {
                    alert(data.message);
                }
            });
        });
    });
</script>
