@using Ornament
@using Ornament.MemberShip
@using Ornament.Web
@model Ornament.Models.Memberships.Partials.UserBasicInfoModel
@*
<div class="control-group">
    @Html.LabelFor(model => model.LoginId, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.LoginId, new { @class = "span12" })
        @Html.ValidationMessageFor(model => model.LoginId)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Email, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.Email, new { @class = "span12" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>*@
@Html.HiddenFor(model => model.LoginId)
@Html.EditorFor(model => model.Email)
@Html.EditorFor(model => model.IsApprove)
@Html.EditorFor(model => model.IsLock)
@Html.EditorFor(model => model.Roles)
@Html.EditorFor(model => model.UserGroups)
