@model Ornament.Messages.Plugin.Areas.Messages.Models.Messages.NewsTypeModel
@using Ornament
@using Ornament.Web
@using Ornament.Web.HtmlExtends
@using Basic=Ornament.Properties.Resources
@{
    ViewBag.Title = "Create";
    Layout = OrnamentContext.Configuration.BackendLayout();
}

@section pageTitle
{
    <h6>Create News Type</h6>
}
<div class="widget">
    <div class="well body">
        <form action="@Url.Action("Edit")" class="form-horizontal" method="POST">
            @Html.Partial("_messageTypeEditor", this.Model)
            
            <div class="form-actions">
                <input type="submit" class="btn btn-info"  value="@Basic.Submit"/>
                  <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
            </div>
        </form>
    </div>
</div>
