@model Ornament.Messages.Plugin.Areas.Messages.Models.Messages.NewsTypeModel
@using Ornament
@using Ornament.Properties
@using Ornament.Web;
@using Ornament.Web.HtmlExtends
@{
    ViewBag.Title = "Edit";
    Layout = OrnamentContext.Configuration.BackendLayout();
}

@section pageTitle
{
    <h5>News Type: @this.Model</h5>
}
<div class="widget">
    <div class="well body">
        <form action="@Url.Action("Edit")" class="form-horizontal" method="POST">
            @Html.EditorFor(s => s.Name)
            @Html.EditorFor(s => s.Remark)
            @Html.HiddenFor(s => s.Id)
            <div class="form-actions">
                <input type="submit" class="btn btn-info"  value="@Resources.Submit"/>
                <a href="@Url.Action("Index")" class="btn">@Resources.Cancel</a>
            </div>
        </form>
    </div>
</div>
