@using Ornament
@using Ornament.MemberShip
@using Ornament.Web
@using Ornament.Properties
@model Ornament.MemberShip.Role
@{
    ViewBag.Title = "Delete";
    Layout = OrnamentContext.Configuration.BackendLayout();
    var members = (IList<IPerformer>)ViewData["members"];
    int index = 0;
}
@section scripts
{
    <script type="text/javascript">
        seajs.use('jquery', function () {
            $(".btn-toolbar a:first")
                .click(function () {
                    if (confirm("@Html.GetEmbededResourceString("waring_deleting_role")")) {
                        $("form").submit();
                    }
                });
        });

    </script>
}

<div class="btn-toolbar">
    <a class="btn btn-danger">@Ornament.Properties.Resources.Delete</a>
    <a href="@Url.Action("Index")" class="btn">@Ornament.Properties.Resources.Cancel</a>
</div>
@using (Html.BeginForm())
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    @Html.HiddenFor(s => s.Id)
}
<h4>
    @Html.Label(Html.GetEmbededResourceString("info_role_in_using"))
</h4>
<div class="row-fluid">
    <div class="span5">
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>@Ornament.MemberShip.Properties.Resources.User</h6>
                </div>
            </div>

            <div class="well body">
                <ul>
                    @foreach (IPerformer member in members)
                    {
                        if (member is User)
                        {
                        <li title="@member.Remarks">@member.Name</li>
                            index++;
                        }
                        else
                        {
                            break;
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="span5">
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>@Ornament.MemberShip.Properties.Resources.UserGroup</h6>
                </div>
            </div>
            <div class="well body">
                <ul>
                    @for (int i = index; i < members.Count; i++)
                    {
                        IPerformer member = members[i];
                        if (member is User)
                        {
                            continue;
                        }
                        <li title="@member.Remarks">@member.Name</li>
                    }
                </ul>
            </div>
        </div>

    </div>
</div>



