@using System.Web.Optimization
@using Ornament
@using Ornament.Web
@{
    var showMenu = OrnamentContext.MemberShip.CurrentUser() != null || this.Response.StatusCode != 200;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    @*
    Backend admin templates.
    *@
    <link href="@Url.Content("~/content/templates/pannonia/css/main.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/content/plugin")
    <!--[if IE 8]><link href="@Url.Content("~/content/templates/pannonia/css/ie8.css")" rel="stylesheet" type="text/css" /><![endif]-->
    <script type="text/javascript" src="/scripts/seajs/sea.js" data-config="/scripts/config" data-main="/scripts/_applayout"> </script>
    @RenderSection("head", false)
</head>
<body @Html.Raw(showMenu ? "" : "class=no-background")>
    @Html.Partial("PopupMessage")
    <div id="top">
        <div class="fixed">
            <a href="@Url.Action("Index", "Home", new { area = "" })">Home</a>
            @Html.Partial("_topMenu")
        </div>
    </div>
    @if (showMenu)
    {
        <div id="container">

            <div id="sidebar">
                <!--
                        <div class="sidebar-tabs">
                        <ul class="tabs-nav two-items">
                            <li><a href="#general" title=""><i class="icon-reorder"></i></a></li>
                            <li><a href="#stuff" title=""><i class="icon-cogs"></i></a></li>
                        </ul>

                        <div id="general">

                        <!-- Main navigation -->

                @Html.Partial("_mainMenu")

                <!-- /main navigation -->
                <!--
                    </div>

                        <div id="stuff">
                            @RenderSection("stuff", false)
                        </div>

                    </div>
                        -->

            </div>

            <div id="content">
                <div class="wrapper">
                    @Html.Partial("_crumbs")
                    <div class="page-header">
                        <div class="page-title">
                            @RenderSection("pageTitle", false)
                        </div>
                        @if (IsSectionDefined("page-stats"))
                        {
                            @RenderSection("page-stats", false)
                        }
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }

    <div id="footer"></div>

    @RenderSection("script", false)
    @Scripts.Render("~/Scripts/Utils.js")
</body>
</html>
