@using System.Web.Optimization
@using System.Web.UI.WebControls
@using Ornament
@using Ornament.Web
@using Ornament.Web.Bundles
@using SeajsBundles
@{
    var showMenu = OrnamentContext.MemberShip.CurrentUser() != null || Response.StatusCode != 200;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    @*  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />*@
    @*
    Backend admin templates.
    *@
    @Styles.Render("~/Content/global.css", "~/content/templates/pannonia/css/main.css")
    <!--[if IE 8]><link href="@Styles.Url("~/content/templates/pannonia/css/ie8.css")" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 9]><link href="@Styles.Url("~/content/templates/pannonia/css/ie9.css")" rel="stylesheet" type="text/css" /><![endif]-->
    @Scripts.Render("~/Scripts/avalon.js")
    <script type="text/javascript">avalon.config({ loader: false });</script>
    @Scripts.Render("~/Scripts/Seajs.js")
    @RenderSection("head", false)
</head>
<body @Html.Raw(showMenu ? "" : "class=no-background")>
    <div id="top">
        <div class="fixed">
            <a href="@Url.Action("Index", "Home", new { area = "" })">Home</a>
            @Html.Partial("~/Views/Shared/_topMenu.cshtml")
        </div>
    </div>

    @if (showMenu)
    {
        <div id="container">
            <div id="sidebar">
                @Html.Partial("/Views/Shared/_mainMenu.cshtml")
                @RenderSection("stuff", false)
            </div>

            <div id="content">
                <div class="wrapper">
                    @Html.Partial("/Views/Shared/_crumbs.cshtml")
                    <div class="page-header">
                        <div class="page-title">
                            @RenderSection("pageTitle", false)
                        </div>
                        @if (IsSectionDefined("page-stats"))
                        {
                            @RenderSection("page-stats", false)
                        }
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }

    <div id="footer"></div>



    <script type="text/javascript">
        seajs.use("@ScriptsSeajs.RenderUrl("~/Scripts/Modules/Views/_layout.js")");
    </script>



    @RenderSection("scripts", false)
</body>
</html>
