@using System.Globalization
@using System.Web.Optimization
@using Ornament.Web
@using Resources

@{
    ViewBag.BodyClass = "no-background";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
    <link href="@Url.Content("~/content/templates/pannonia/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/templates/pannonia/css/plugins.css")" rel="stylesheet" type="text/css" />
    <!--[if IE 8]><link href="@Url.Content("~/content/templates/pannonia/css/ie8.css")" rel="stylesheet" type="text/css" /><![endif]-->
    <script type="text/javascript" src="/scripts/seajs/sea.js" data-config="/scripts/config" data-main="/scripts/_applayout"></script>

    @RenderSection("head", false)
</head>

<body class="no-background">
    <div id="top">
        <div class="fixed">
            <a href="@Url.Action("Index", "Home", new { area = "" })">Home</a>
            @Html.Partial("_topMenu")
        </div>
    </div>
    @RenderBody()
    <div id="footer"></div>
    @RenderSection("script", false)
    @Html.CorrectTimeZone(false)
</body>
</html>
