@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Dao
@using Ornament.MemberShip.Plugin.Areas.MemberShips.Models
@using Ornament.MemberShip.Plugin.Models
@using Qi.Web
@model Ornament.MemberShip.Org
@{
    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    var orgDao = OrnamentContext.DaoFactory.MemberShipFactory.CreateOrgDao();
    var assignAllOrg = OrnamentContext.MemberShip.HasRight(ResourceSetting.Org, OrgOperator.AssignAllOrg);
    var selection = new List<OrgTreeItem>();
    if (assignAllOrg)
    {
        selection.AddRange(orgDao.GetAll().Select(item => new OrgTreeItem(item)));
    }
    else
    {
        selection.Add(new OrgTreeItem(this.Model));
    }

}

<div class="control-group">
    @Html.Label("", display, new { @class = "control-label" })
    <div class="controls">
        @Html.Hidden("")
        <span>@(Model != null ? Model.Name : "")</span>
        <ul id="@Html.Id("")_Tree" class="ztree">
        </ul>
    </div>
</div>

<script type="text/javascript">
    seajs.use("/MemberShips/Scripts/Share/ui.js", function(r) {
        var d = @Html.Raw(JsonHelper.ToJson(selection));
        r.tree.org("#@Html.Id("")_Tree", "#@Html.Id("")", d);

    });
</script>
