@model IEnumerable<QiProject.Project>
@using Qi.Web.Mvc
@using QiProject
@using Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
<div class="page-header">
    <header>
        <h1>
            Project list
        </h1>
    </header>
</div>
<section class="box">
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>@Html.ContentFor(model => ((Project)null).Name)
                    </th>
                    <th>@Html.ContentFor(model => ((Project)null).Product)
                    </th>
                    <th>@Html.ContentFor(model => ((Project)null).CreateTime)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prj in this.Model)
                {
                    <tr>
                        <th>
                            <a class="btn btn-mini" href="@Url.Action("Edit", new { id = prj.Id })" title="@Basic.Edit Project @prj.Name">
                                <i class="icon-wrench"></i></a>
                        </th>
                        <td>
                            @prj.Name
                        </td>
                        <td>
                            @prj.Product
                        </td>
                        <td>
                            @prj.CreateTime
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>