@using Ornament.MemberShip;
@using Ornament.MemberShip.Web.Plugin.Models.Memberships


<script type="avalon" id="tpl">          
    
        <li >
           <span style="cursor: pointer"><i class="fa fa-lg"></i>{{el.Name}}</span>
            <div class="btn-group">
                <a href="javascript:;" ms-click="edit" class="btn btn-xs btn-info">
                    <i class="fa fa-edit"></i>
                </a> 
                <a href="javascript:;" ms-click="addSub" class="btn btn-xs btn-info">
                    <i class="fa fa-plus "></i>
                </a>
                <a href="javascript:;" ms-click="del" class="btn btn-xs btn-danger">
                    <i class="fa fa-remove"></i>
                </a>
            </div>
           <ul ms-visible="org.Childs.length" >
                 <div ms-repeat-el="org.Childs" ms-include="'tpl'" >
                    
                </div>
            </ul>            
        </li>
    
</script>

@helper RenderTree(Org org, bool show)
{
    var clz = org.Childs.Count != 0 ? "fa-plus-circle" : "fa-users";
    var isShow = show ? "" : "display:none";
    <li style="@isShow">
        <span style="cursor: pointer"><i class="fa fa-lg @clz"></i>@org.Name
        </span>
        <div id="@org.Id" class="btn-group">
            <a href="javascript:;" ms-click="edit" class="btn btn-xs btn-info">
                <i class="fa fa-edit"></i>
            </a>
            <a href="javascript:;" ms-click="addSub" class="btn btn-xs btn-info">
                <i class="fa fa-plus "></i>
            </a>
            <a href="javascript:;" ms-click="del" class="btn btn-xs btn-danger">
                <i class="fa fa-remove"></i>
            </a>
        </div>
        @if (org.Childs.Count != 0)
        {
            <ul>
                @foreach (var child in org.Childs)
                {
                    @RenderTree(child, false);
                }
            </ul>
        }
    </li>
}
<div class="tree">
    <ul>
        <li>
            <span ms-click="AddSub"><i class="fa fa-lg fa-sitemap"></i>Root</span>
            <div class="btn-group" id="Root">
                <a href="javascript:;" ms-click="addSub" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></a>
            </div>
            <ul  ms-visible="orgs.length" >
                <div ms-repeat-el="orgs" ms-include="'tpl'">
                    
                </div>
            </ul>
        </li>
    </ul>
</div>
