@using Ornament
@using Ornament.Web
@using Qi.Web
@using Basic=Ornament.Properties.Resources
@model Ornament.Models.Messages.NotifyTypeModel

@{
    ViewBag.Title = "Edit";
    Layout = OrnamentContext.Configuration.BackendLayout();
  

}

@section pageTitle
{
    <h5>Edit</h5>
}
@using (Html.BeginForm("Save", "NotifyType", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <input type="submit" value="@Basic.Save" class="btn btn-info" />
                <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
            </div>
        </div>
        <div class="body well">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.ValidationSummary(true)

            @Html.EditorFor(model => model.Name)
            @Html.EditorFor(model => model.Remark)
            @Html.EditorFor(model => model.CommunicationType)



            <div class="control-group">
                <label class="control-label">Language:</label>
                <div class="controls">
                    <select id="Language">
                        @{
    var langs = OrnamentContext.Configuration.Languages;
    foreach (var lang in langs)
    {
                            <option value="@lang.Key">@lang.Name ( @lang.Key )</option>
    }
                        }
                    </select>

                </div>
                <!-- End Content -->
            </div>

        </div>
    </div>
}