@using Ornament
@using Ornament.Web
@using Ornament.Web.UI
@using Ornament.Web.UI.Theme
@model DeveloperHelperCenter.Areas.Develop.Models.BasicEditors
@{
    ViewBag.Title = "Basic Type Html Controls ";
    Layout = "/Views/Shared/_codeLayout.cshtml";
}

@using (Panel panel = Html.Panel(new PanelOption
{
    Id = "orgPanel",
}, "col-md-4 col-lg-4 col-xs-4 col-sm-4"))
{
    @panel.Body(@<text>
    <form method="POST" action="@Url.Action("BasicType")" id="formExample1">
        <div class="form-group">
            @Html.LabelFor(s => s.Int32, new { @class = "control-label" })
            @Html.EditorFor(s => s.Int32, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.Int32)
            @Html.DescriptionFor(s => s.Int32)
        </div>

        <div class="form-group">
            @Html.LabelFor(s => s.Int64, new { @class = "control-label" })
            @Html.EditorFor(s => s.Int64, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.Int64)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Money, new { @class = "control-label" })
            @Html.EditorFor(s => s.Money, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.Money)
        </div>

        <div class="form-group">
            @Html.LabelFor(s => s.String, new { @class = "control-label" })
            @Html.EditorFor(s => s.String, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.String)
        </div>

        <div class="form-group">
            @Html.LabelFor(s => s.Textarea)
            @Html.EditorFor(s => s.Textarea, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.Textarea)
        </div>

        <div class="form-group">
            @Html.LabelFor(s => s.Decimal, new { @class = "control-label" })
            @Html.EditorFor(s => s.Decimal, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(s => s.Decimal)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Date, new { @class = "control-label" })

            <div class="input-group">
                @Html.EditorFor(model => model.Date, new { HtmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="note">
                @Html.ValidationMessageFor(model => model.Date)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(s => s.Time, new { @class = "control-label" })

            <div class="input-group">
                @Html.EditorFor(model => model.Time, new { HtmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="note">
                @Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>



        <div class="form-actions">
            <button>
                submit
            </button>
        </div>
    </form>
    </text>)
}
@helper ViewRender()
{
    @Html.Code(@<text>
    <form method="POST" id="formExample1">
        <div class="form-group">
            @@Html.LabelFor(s => s.Int32, new { @@class = "control-label" })
            @@Html.EditorFor(s => s.Int32, new { HtmlAttributes = new { @@class = "form-control" } })
            @@Html.ValidationMessageFor(s => s.Int32)
            @@Html.DescriptionFor(s => s.Int32)
        </div>

        <div class="form-group">
            @@Html.LabelFor(s => s.Int64, new { @@class = "control-label" })
            @@Html.EditorFor(s => s.Int64, new { HtmlAttributes = new { @@class = "form-control" } })
            @@Html.ValidationMessageFor(s => s.Int64)
        </div>
        <div class="form-group">
            @@Html.LabelFor(s => s.Money, new { @@class = "control-label" })
            @@Html.EditorFor(s => s.Money, new { HtmlAttributes = new { @@class = "form-control" } })
            @@Html.ValidationMessageFor(s => s.Money)
        </div>

        <div class="form-group">
            @@Html.LabelFor(s => s.String, new { @@class = "control-label" })
            @@Html.EditorFor(s => s.String, new { HtmlAttributes = new { @@class = "form-control" } })
            @@Html.ValidationMessageFor(s => s.String)
        </div>

        <div class="form-group">
            @@Html.LabelFor(s => s.Textarea)
            @@Html.EditorFor(s => s.Textarea, new { HtmlAttributes = new { @@class = "form-control" } })
            @@Html.ValidationMessageFor(s => s.Textarea)
        </div>

        <div class="form-group">
            @@Html.LabelFor(s => s.Decimal, new { @@class = "control-label" })
            @@Html.EditorFor(s => s.Decimal, new { HtmlAttributes = new { @@class = "form-control" } })
            @@Html.ValidationMessageFor(s => s.Decimal)
        </div>
        <div class="form-group">
            @@Html.LabelFor(s => s.Date, new { @@class = "control-label" })

            <div class="input-group">
                @@Html.EditorFor(model => model.Date, new { HtmlAttributes = new { @@class = "form-control" } })
            </div>
            <div class="note">
                @@Html.ValidationMessageFor(model => model.Date)
            </div>

        </div>

        <div class="form-group">
            @@Html.LabelFor(s => s.Time, new { @@class = "control-label" })

            <div class="input-group">
                @@Html.EditorFor(model => model.Time, new { HtmlAttributes = new { @@class = "form-control" } })
            </div>
            <div class="note">
                @@Html.ValidationMessageFor(model => model.Time)
            </div>
        </div>



        <div class="form-actions">
            <button>
                submit
            </button>
        </div>
    </form>
    </text>)
}
@using (Panel panel = Html.Panel(new PanelOption
{
    Id = "example",
}, "col-md-6 col-lg-6 col-xs-6 col-sm-6"))
{
    @panel.Header(@<text>
    <h2>Code Example</h2>
    </text>)

    @panel.Body(@<text>
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a data-toggle="tab" href="#view">View</a>
            </li>
            <li>
                <a data-toggle="tab" href="#model">Model</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="view" class="tab-pane active">
            <pre class="brush:js">

  
  @ViewRender()


</pre>
        </div>
        <div id="model" class="tab-pane">
            <pre class="brush: c#;">
        public BasicEditors()
        {
            Int32 = 6;
            Int64 = 1800;
            Date = DateTime.Now;
            Time = new Time(Date.Value.Hour, Date.Value.Minute, Date.Value.Second);
        }

        [Range(5, 20)]
        [Display(Name = "Int32 for editorTemplates", Description = "Int32 Description.")]
        public Int32 Int32 { get; set; }

        [QiRange(900D, 10000d, 100D)]
        public Int64 Int64 { get; set; }

        public string String { get; set; }

        [MaxLength(40)]
        [DataType(DataType.MultilineText)]
        public String Textarea { get; set; }

        [QiRange(10D, 15d, 0.2D)]
        public Decimal Decimal { get; set; }

        [QiRange(1D, 100d, 0.5D)]
        [DataType(DataType.Currency)]
        [UIHint("Currency")]
        public Decimal Money { get; set; }

        [DataType(DataType.Time)]
        [DisplayFormat(DataFormatString = "HH:mm")]
        public Time Time { get; set; }

        [DataType(DataType.Date)]
        [DisplayFormat(DataFormatString = "yyyy-MM-dd")]
        [DateRange("-40y", "+10y", "yyyy-MM-dd", "yy-mm-dd")]
        public DateTime? Date { get; set; }

</pre>
        </div>
    </div>
    </text>)
}
@section scripts
{

    <script type="text/javascript">
        require(['require', '/scripts/config.js'], function (require) {
            require(["/Develop/Scripts/Html/BasicType.js"], function (m) {
                m.Init();
            });
        })

    </script>

}