@using Ornament.Web
@using Resources
@model IEnumerable<Ornament.Messages.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
@section pageTitle
{
    <h5>Messages list</h5>
}

<div class="widget">
    <div class="navbar">
        <div class="navbar-inner">
            <a href="@Url.Action("Create")" class="btn btn-info">@Basic.Create</a>
        </div>
    </div>
    <div class="table-overflow">
        @if (Model.Count() != 0)
        {

            <table class="table table-condensed table-striped table-bordered">
                <tr>
                    <th>Subject
                    </th>
                    <th>Type 
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Show().Subject)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(modeItem => item.State)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn" })
                            <a data-toggle="popover" data-val="@item.Id"
                                class="btn btn-danger" href="#" data-original-title="A Title">Delete</a>
                        </td>
                    </tr>
                }
                <tfoot></tfoot>
            </table>
        }
        else
        {
            <div class="alert alert-info">
                <h6>No message found. 
                </h6>
            </div>
        }

    </div>
    <div class="table-footer">
        <form method="POST">
            @Html.Partial("NavPagination", (Pagination)ViewData["nav"])
        </form>
    </div>
</div>
<div id="warning" class="hide">
    <p>Do you want to delete this message?</p>
    <button class="btn btn-primary deleteYes">Yes</button>
    <button class="btn btn-danger deleteNo">No</button>

</div>

@section script
{
    <script type="text/javascript">
        seajs.use(["bootstrap"], function () {
            var $popver = $("[data-toggle=popover]").popover({ html: true, content: $("#warning").html(), placement: "top", title: "Warning" });
            $(document)
                .delegate("button.deleteYes", "click", function () {
                    $("[data-toggle=popover]").popover("hide");
                    $td = $(this).closest("td");
                    var id = $td.find("a:eq(1)").attr("data-val");
                    $.get("@Url.Action("Delete")/" + id, function (data) {
                        if (data.success) {
                            $td.closest("tr").remove();
                        } else {
                            alert(data.message);
                        }
                    });
                    $popver.popover("hide");
                })
                .delegate("button.deleteNo", "click", function () {
                    $popver.popover("hide");
                });
        });
    </script>
}
