@using Qi
@using Resources
@model IEnumerable<Ornament.Messages.Message>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
@section pageTitle
{
    <h5>Messages list</h5>
}

<div class="widget">
    <div class="navbar">
        <div class="navbar-inner">
            <a href="@Url.Action("Create")" class="btn btn-info">@Basic.Create</a>
        </div>
    </div>
    <div class="well body">
        @if (Model.Count() != 0)
        {

            <table class="table table-condensed table-striped table-bordered">
                <tr>
                    <th>Subject
                    </th>
                    <th>Type 
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EffectTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublishTime)
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Show().Subject)
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.Type.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(modeItem=>item.State)
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EffectTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishTime)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                               @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <div class="alert alert-info">
                <h6>No message found. 
                </h6>
            </div>
        }
    </div>

</div>
