@using Qi.Web.Mvc
@using QiProject.Defects
@model IList<QiProject.Defects.Defect>
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
<div class="page-header">
    <h2>
        Defects</h2>
</div>
<div class="box">
    <div class="form-inline">
        
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.ContentFor(m => ((Defect) null).DefectId)
                    </th>
                    <th>
                        @Html.ContentFor(m => ((Defect) null).Summary)
                    </th>
                    <th>
                        @Html.ContentFor(m => ((Defect) null).Status)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Defect item in Model)
                {
                    <tr>
                        <th>
                        </th>
                        <td>@item.DefectId
                        </td>
                        <td>@item.Summary
                        </td>
                        <td>@item.Status
                        </td>
                        <td>@item.DefectDateTime
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>