@using System.Web.Optimization





@if (IsSectionDefined("pageTitle") || IsSectionDefined("sparks"))
{
    <!-- Bread crumb is created dynamically -->
    <!-- row -->
    <div class="row">

        <!-- col -->
        @if (IsSectionDefined("pageTitle"))
        {
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    @RenderSection("pageTitle", required: false)
                </h1>
            </div>
        }

        <!-- end col -->

        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        @if (IsSectionDefined("sparks"))
        {
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                <!-- sparks -->
                @RenderSection("sparks", required: false)
                <!-- end sparks -->
            </div>
            <!-- end col -->
        }
    </div>
    <!-- end row -->
}

<!--
	The ID "widget-grid" will start to initialize all widgets below 
	You do not need to use widgets if you dont want to. Simply remove 
	the <section></section> and you can use wells or panels instead 
	-->

<!-- widget grid -->
<section id="widget-grid" class="">


    <!-- NEW WIDGET START -->
    @RenderBody()
    <!-- WIDGET END -->



    <!-- end row -->



</section>
<!-- end widget grid -->

<script type="text/javascript">

    /* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

    pageSetUp();

    /*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript(".../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR you can load chain scripts by doing
	 * 
	 * loadScript(".../plugin.js", function(){
	 * 	 loadScript("../plugin.js", function(){
	 * 	   ...
	 *   })
	 * });
	 */

    @*  // pagefunction

    var pagefunction = function () {
        // clears the variable if left blank
        @RenderSection("clearVariable", required: false)
    };

    // end pagefunction

    // run pagefunction
    pagefunction();*@

    //if you want to clear variabled, please use define clearPageVar function.
    //function clearPageVar(){
    // delete some varibale.
    //}
</script>

@RenderSection("scripts", required: false)
