@using System.Web.Optimization
@{
    Layout = null;
}
<html lang="zh-CN" id="extr-page">
<head>
    <meta charset="utf-8">
    <title>SmartAdmin (AJAX)</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    @Styles.Render("~/css/bootstrap.min.css")
    @Styles.Render("~/css/font-awesome.min.css")
    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    @Styles.Render("~/css/smartadmin-production.min.css")
    @Styles.Render("~/css/smartadmin-skins.min.css")
@*
    <!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->

    <!-- We recommend you use "your_style.css" to override SmartAdmin
	  specific styles this will also ensure you retrain your customization with each SmartAdmin update.
	<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    
    *@

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="/css/fonts.css">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)">
    <script src="/Scripts/plugin/fastclick/fastclick.min.js"></script>
    <script src="/Scripts/require.js"></script>
</head>
<body class="animated fadeInDown">
    <header id="header">

        <div id="logo-group">
            <span id="logo">
                <img src="/img/logo.png" alt="SmartAdmin">
            </span>
        </div>

        <span id="extr-page-header-space">
            @RenderSection("headerSpace", false)
        </span>

    </header>
    <div id="main" role="main">
        <div id="content" class="container">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/Scripts/avalon")
    <script src="~/Scripts/libs/jquery-2.1.3.js"></script>
    <script type="text/javascript">avalon.config({ loader: false })</script>
    @RenderSection("scripts", false)
</body>

</html>
