@using Resources
@model Badminton.Consumableses.Brand

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Backend/_applayout.cshtml";
}
@section pageTitle{
    <h5>Create</h5>
}

@using (Html.BeginForm())
{
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <button class="btn btn-primary">@Basic.Save</button>
                <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
            </div>
        </div>

        <div class="well form-horizontal">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)



            @Html.EditorFor(model => model.Name)

        </div>

        <div class="form-actions">
            <button class="btn btn-primary">@Basic.Create</button>
            <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
        </div>
    </div>

}


@* 
 如果想定制新的js，请在创建下列路径，并且删除 @section Scripts的注释
 seajs.use必须是全小写
 please create a js in /Scripts/Module/Views/{Area}/{Controller}/Create.js
*@
@*

@section Scripts {
    <script type="text/javascript">
		seajs.use(["{area}/{controller}/Create.js"],function(init){
			inti();
		});
	</script>
}

*@

