@using Ornament.Web.HtmlExtends
@using Resources
@model Ornament.Templates.EmailTemplate
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    var ajaxOptions = new AjaxOptions()
        {
            HttpMethod = "Post",
            UpdateTargetId = "msgBox",
            OnBegin = "onSubmit",
            OnComplete = "onComplete",
        };
    var formStyle = new
        {
            @class = "form-horizontal",
            autocomplete = "off",
            id = "createUserForm"
        };
}

<h5 class="widget-name"><i class="icon-th"></i>Inputs grid</h5>
<div class="row-fluid">
    <div class="well span8 offset2">

        @using (Ajax.BeginForm("Save", "EmailSetting", null, ajaxOptions, formStyle))
        {
            <div class="alert margin alert-success hide">
                <button data-dismiss="alert" class="close" type="button">×</button>
                <div id="msgBox"></div>
            </div>
            
            @Html.ValidationSummary(true)
            <div>
                @Html.LabelTextBoxFor(ts => ts.Subject)
            </div>
            <div>
                @Html.LabelTextAreaFor(ts => ts.Content, new { @class = "span12", rows = "28" })
            </div>
            <div class="form-actions">
                <button class="btn btn-info" data-loading-text="@Basic.Submitting">@Basic.Submit</button>
            </div>
        }

    </div>
</div>
@section script
{
    <script type="text/javascript">
        seajs.use(["bootstrap"], function () {
            $(".btn").button();
        });

        function onComplete() {
            if ($("#msgBox").length == 0) {
                var a = $("<div class=\"alert margin alert-success hide\"><button data-dismiss=\"alert\" class=\"close\" type=\"button\">×</button><div id=\"msgBox\"></div></div>");
                $("#createUserForm").prepend(a);
            }
            $(".btn").button("reset");
            $("#msgBox").closest(".alert").show();
        }

        function onSubmit() {
            $(".btn").button("loading");
            
        }
    </script>
}
