@using Ornament.Models.Memberships
@using Ornament.Web
@using Ornament.Web.HtmlExtends
@using Resources
@model Ornament.Models.Memberships.CreateUserModel

@Html.ValidationSummary(true)
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab3" data-toggle="tab">@Html.GetResourceString("Create", "tab_basicInfo")</a></li>
    <li><a href="#tab4" data-toggle="tab">@Html.GetResourceString("Create", "tab_option")</a></li>
</ul>
@Html.HiddenFor(s => s.State.IsApproved)
<div class="tab-content">
    <div class="tab-pane active" id="tab3">
        @Html.PartialFor(s => s.BasicInfo, "DisplayTemplates/UserBasicInfo")
    </div>
    <div class="tab-pane" id="tab4">
        @Html.PartialFor(s => s.OptionInfo, "DisplayTemplates/UserOptionInfo")
    </div>
</div>




