@using System.Text.RegularExpressions
@using Ornament
@using Ornament.MVCWebFrame.Models
@using Ornament.MVCWebFrame.Models.Membership
@using Ornament.MemberShip
@using Ornament.Models.Memberships
@using Ornament.Web
@using Ornament.Web.HtmlExtends
@using Resources
@model IList<Ornament.MemberShip.User>
@{
    ViewBag.Title = MemberShip.User;
    Layout = "~/Views/Shared/_appLayout.cshtml";
    bool editPermission = OrnamentContext.MemberShip.HasRight(ResourceSetting.User, UserOperator.Modify);
}
@section script
{
    <script type="text/javascript">
        var updateTable;
        seajs.use(['valid', '/models/user', 'tmpl', "/scripts/json2.js", "uniform"], function () {

            $(".actionCheckbox").uniform().change(function () {
                $("#BtnApply").prop("disabled", $(".actionCheckbox:checked").length == 0);
            }).change();
            $("#selApplyAction").uniform();
            $("#BtnApply").click(function () {
                var action = $("#selApplyAction").val();
                $("#tableForm").attr("action", "User/" + action).submit();
            });
            $("input[name=loginIds]").change(function () {
                var val = $("input[name=loginIds]:checked").length == 0 ? true : false;
                $("#unlockButton,#approvedButton,#delete,#Lock").attr("disabled", val);
            });

            $("#btnCreateUser").click(function () {
                $("#createUserModel form").submit();
            });

            $("#createUserModel").on("hidden", function () {
                $("input", $(this)).val("");
                $(this).bootstrapMakeUp("clear");
            });

            updateTable = function (user) {
                if (user.success) {
                    var $tar = $("#userTableTmpl").tmpl(user.user).prependTo($("#userListBody"));
                    $("input", $tar).uniform();
                    $('#createUserModel').modal('hide');
                    return;
                }
            };
            $("#search :submit").click(function () {
                var searchData = {
                    loginIdOrEmail: $("#searchContent").val()
                };
                $.post("@Url.Action("Search")", searchData,
                    function (user) {
                        var target = $("#userListBody").empty();
                        if (user.length > 0) {
                            target.append($("#userTableTmpl").tmpl(user));
                        }
                        $("table").toggle(user.length > 0);
                        $("#alertMsg").toggle(user.length == 0);
                    });
            });
        });

        function GetDate(jsonDate) {
            if (jsonDate == null)
                return "";
            var value = new Date(parseInt(jsonDate.substr(6)));
            return value.getFullYear() + "-" + (value.getMonth() + 1) + "-" + value.getDate() + " " + value.getHours() + ":" + value.getMinutes() + ":" + value.getSeconds();
        }
    </script>
}
@section pageTitle{
    <h5>@String.Format("{0}{1}", MemberShip.User, "列表")</h5>
}
<div class="actions-wrapper">
    <div class="actions">

        <div id="user-stats">
            <ul class="round-buttons">
                @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Modify))
                {
                    <li>
                        <div class="depth"><a href="@Url.Action("Create", "User", new { area = "MemberShips" })" title="@Html.GetResourceString("quickAction_CreateUser")" class="tip"><i class="icon-plus"></i></a></div>
                    </li>
                }
                <li>
                    <div class="depth"><a href="" title="View statement" class="tip"><i class="icon-search"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Media posts" class="tip"><i class="icon-reorder"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="RSS feed" class="tip"><i class="icon-rss"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Create new task" class="tip"><i class="icon-tasks"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Layout settings" class="tip"><i class="icon-cogs"></i></a></div>
                </li>

            </ul>
        </div>
        <div id="quick-actions">
            @{
                var userDao = OrnamentContext.DaoFactory.MemberShipFactory.CreateUserDao();
                var totalUser = Convert.ToDouble(userDao.Count());
                
              
            }
            <ul class="statistics">
                <li>
                    <div class="top-info">
                        <a href="#" title="" class="blue-square"><i class="icon-plus"></i></a>
                        @{
                            var dict = userDao.CountNewUser(DateTime.Now, DateTime.Now);
                            var toDayUser = dict.Count == 0 ? 0d : Convert.ToDouble(dict.First().Value);
                        }
                        <strong>@toDayUser</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div class="bar" style="width: @((Convert.ToDouble(toDayUser) / totalUser).ToString("p"))"></div>
                    </div>
                    <span>User registrations today</span>
                </li>


                <li>
                    <div class="top-info">
                        <a href="#" title="" class="sea-square"><i class=" icon-globe"></i></a>
                        <strong>@totalUser</strong>
                    </div>
                    <div class="progress progress-micro">
                        @{
                            var onlineUser = Membership.GetNumberOfUsersOnline();
                            var onlineRate = (Convert.ToDouble(onlineUser) / totalUser).ToString("p");
                        }
                        <div class="bar" style="width: @onlineRate;"></div>
                    </div>
                    <span class="tip" title="@onlineUser/@totalUser ">Online users</span>
                </li>

            </ul>
        </div>
        <ul class="action-tabs">
            <li><a href="#user-stats" title="">@Html.GetResourceString("QuickActions")</a></li>
            <li><a href="#quick-actions" title="">@Html.GetResourceString("QuickActions_MemberState")</a></li>
        </ul>
    </div>
</div>

<form action="#" class="search widget" id="search">
    <div class="autocomplete-append">
        <input type="text" id="searchContent" placeholder="" class="ui-autocomplete-input" autocomplete="off">
        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        <input type="submit" value="@Basic.Search" class="btn btn-info">
        <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="searchTextBox" tabindex="0" style="display: none; z-index: 1;"></ul>
    </div>
</form>


<ul class="options-bar">

    <li>

        <form>
            <div class="bulk">
                <div class="bar-select">
                    <span>@Html.GetResourceString("ApplyAction")</span>

                    <select id="selApplyAction">
                        @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Lock))
                        {
                            <option value="Lock">@Html.GetResourceString("Lock")</option>
                            <option value="unLock">@Html.GetResourceString("Unlock")</option>
                        }

                        @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Approve))
                        {
                            <option value="Approve">@Html.GetResourceString("Approve")</option>
                        }
                        @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Delete))
                        {
                            <option value="delete">
                                @Basic.Delete
                            </option>
                        }
                    </select>

                </div>

                <div class="bar-button">
                    <button class="btn btn-info" type="button" id="BtnApply" disabled="disabled">@Html.GetResourceString("BtnApply")</button>
                </div>
            </div>
        </form>
    </li>
</ul>




<table class="table table-condensed table-striped table-bordered table-checks">
    <thead>
        <tr>
            <th></th>
            <th class="span1"></th>
            <th class="span1">
                @Html.LabelFor(item => ((User)null).LoginId)
            </th>

            <th style="width: 100px">
                @Html.LabelFor(item => ((User)null).Name)
            </th>
            <th>
                @Html.LabelFor(item => ((User)null).Email)
            </th>
            <th>
                @Html.LabelFor(item => ((User)null).IsLockout)
            </th>
            <th>
                @Html.LabelFor(item => ((User)null).IsApproved)
            </th>
            <th>
                @Html.LabelFor(item => ((User)null).LastActivityDate)
            </th>
        </tr>
    </thead>
    <tbody id="userListBody">

        @foreach (User user in Model)
        {
            string clz = "";
            if (user.IsApproved == false)
            {
                clz = "class=info";
            }
            if (user.IsLockout)
            {
                clz = "class=Warning";
            }
            <tr @clz>
                <td>
                    <input type="checkbox" name="loginIds" value="@user.LoginId" class="actionCheckbox"/>
                </td>
                @if (editPermission)
                {
                    <td>
                        <ul class="table-controls">
                            <li><a href="@Url.Action("Edit", new { id = user.LoginId })" class="btn tip" title="@Basic.Edit">
                                <i class="fam-user-edit"></i></a></li>
                            <li>
                                <a  href="@Url.Action("Assign", new { id = user.LoginId })" class="btn tip" title="@Html.GetResourceString("Assignment")">
                                    <i class="fam-group-gear"></i></a>
                            </li>
                        </ul>
                    </td>
                }
                <td>
                    @user.LoginId
                </td>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Email
                </td>
                <td style="text-align: center">
                    <div class="@(user.IsLockout ? "icon-ok" : "icon-remove")">
                    </div>
                </td>
                <td style="text-align: center">
                    <div class="@(user.IsApproved ? "icon-ok" : "icon-remove")">
                    </div>
                </td>
                <td>
                    @user.LastActivityDate
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">
                <form id="navbar">
                    @Html.Partial("NavPagination", ViewData["Nav"])
                </form>
            </td>
        </tr>
    </tfoot>
</table>

<p>
    @Html.AlertMessage(Html.GetResourceString("UserNotFound"), false, new { id = "alertMsg" })
</p>

<script id="userTableTmpl" type="text/x-jquery-tmpl">
    {{if(State.IsLockout)}}
    <tr class="warning">
        {{else (State.IsApproved==false)}}
    <tr class="info">
        {{else}}
    <tr>
        {{/if}}
        <td>
            @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Lock) || OrnamentContext.MemberShip.HasRight("User", UserOperator.Delete) || OrnamentContext.MemberShip.HasRight("User", UserOperator.Approve))
            {
                <input type="checkbox" name="loginIds" value="${BasicInfo.LoginId}" class="actionCheckbox" />
            }
        </td>
        @if (editPermission)
        {
            <td>
                <ul class="table-controls">
                    <li><a href="/Memberships/User/Edit/${BasicInfo.LoginId}" class="btn tip" title="@Basic.Edit">
                        <i class="fam-user-edit"></i></a></li>
                    <li>
                        <a  href="/Memberships/User/Edit/${BasicInfo.LoginId}" class="btn tip" title="@Html.GetResourceString("Assignment")">
                            <i class="fam-group-gear"></i></a>
                    </li>
                </ul>
            </td>
        }
        <td>${BasicInfo.LoginId}
        </td>
        <td>${BasicInfo.Name}
        </td>
        <td>${BasicInfo.Email}
        </td>
        <td style="text-align: center">{{if(State.IsLockout)}}
            <div class="icon-ok"></div>
            {{else}}
            <div class="icon-remove"></div>
            {{/if}}

        </td>
        <td style="text-align: center">{{if(State.IsApproved)}}
            <div class="icon-ok"></div>
            {{else}}
            <div class="icon-remove"></div>
            {{/if}}
        </td>
        <td>${GetDate(OtherInfo.LastActivityDate)}
        </td>
    </tr>
</script>

<!-- place holder for dialog -->
@{
    var ajaxOptions = new AjaxOptions
        {
            HttpMethod = "post",
            OnSuccess = "updateTable",
        };
    var formStyle = new
        {
            @class = "form-horizontal row-fluid ",
            autocomplete = "off",
        };
}
