@using System.Text.RegularExpressions
@using Ornament
@using Ornament.MVCWebFrame.Models
@using Ornament.MVCWebFrame.Models.Membership
@using Ornament.MemberShip
@using Ornament.Web
@using Ornament.Web.HtmlExtends
@using Resources
@model IEnumerable<Ornament.MemberShip.User>
@{
    ViewBag.Title = MemberShip.User;
    Layout = "~/Views/Shared/_appLayout.cshtml";
    bool editPermission = OrnamentContext.MemberShip.HasRight(ResourceSetting.User, UserOperator.Modify);
}
@section script
{
    @Html.Partial("_pm")

    <script type="text/javascript">
        var updateTable;
        seajs.use(["/models/pm.js",
                '/models/user',
                'tmpl',
                "/scripts/json2.js", 'select2', 'valid'], function (pm, user) {

                    $(".actionCheckbox").uniform().change(function () {
                        $("#BtnApply").prop("disabled", $(".actionCheckbox:checked").length == 0);
                    }).change();
                    $("#selApplyAction").select2();
                    $("#BtnApply").click(function () {
                        var action = $("#selApplyAction").val();
                        $("#tableForm").attr("action", "User/" + action).submit();
                        return false;
                    });
                    $("input[name=loginIds]").change(function () {
                        var val = $("input[name=loginIds]:checked").length == 0 ? true : false;
                        $("#unlockButton,#approvedButton,#delete,#Lock").attr("disabled", val);
                    });



                    $("table [role=pm]").click(function () {
                        var id = $(this).closest("ul").attr("val");
                        pm.show(id, "@OrnamentContext.MemberShip.CurrentUser().Name");
                    });
                    $("table [role=verifyEmail]").click(function () {
                        var loginId = $("td:first input", $(this).closest("tr")).val();
                        user.verifyEmail(loginId, $(this).attr("href").substr(1), function (e) {
                            alert(e.success ?
                                "@Html.GetResourceString("verify_email_success")" :
                                "@Html.GetResourceString("verify_email_fail")");
                        });
                        return false;
                    });
                    $("table [role=retievePwd]").click(function () {
                        var loginId = $("td:first input", $(this).closest("tr")).val();
                        user.retrievePassword(loginId, function (e) {
                            alert(e.success ?
                                "@Html.GetResourceString("retrieve_pwd_success")" :
                                "@Html.GetResourceString("retrieve_pwd_fail")");
                        });
                    });
                    //User Search;
                    user.typeHeader("#searchContent");
                });


    </script>
}

@section pageTitle{
    <h5>MemberShip Dashboard</h5>
}
<div class="actions-wrapper">
    <div class="actions">

        <div id="user-stats">
            <ul class="round-buttons">
                @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Modify))
                {
                    <li>
                        <div class="depth"><a href="@Url.Action("Create", "User", new { area = "MemberShips" })" title="@Html.GetResourceString("quickAction_CreateUser")" class="tip"><i class="icon-plus"></i></a></div>
                    </li>
                }
                <li>
                    <div class="depth"><a href="" title="View statement" class="tip"><i class="icon-search"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Media posts" class="tip"><i class="icon-reorder"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="RSS feed" class="tip"><i class="icon-rss"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Create new task" class="tip"><i class="icon-tasks"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Layout settings" class="tip"><i class="icon-cogs"></i></a></div>
                </li>

            </ul>
        </div>
        <div id="quick-actions">
            @{
                var userDao = OrnamentContext.DaoFactory.MemberShipFactory.CreateUserDao();
                var totalUser = Convert.ToDouble(userDao.Count());
                
              
            }
            <ul class="statistics">
                <li>
                    <div class="top-info">
                        <a href="#" title="" class="blue-square"><i class="icon-plus"></i></a>
                        @{
                            var dict = userDao.CountNewUser(DateTime.Now, DateTime.Now);
                            var toDayUser = dict.Count == 0 ? 0d : Convert.ToDouble(dict.First().Value);
                        }
                        <strong>@toDayUser</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div class="bar" style="width: @((Convert.ToDouble(toDayUser) / totalUser).ToString("p"))"></div>
                    </div>
                    <span>User registrations today</span>
                </li>


                <li>
                    <div class="top-info">
                        <a href="#" title="" class="sea-square"><i class=" icon-globe"></i></a>
                        <strong>@totalUser</strong>
                    </div>
                    <div class="progress progress-micro">
                        @{
                            var onlineUser = Membership.GetNumberOfUsersOnline();
                            var onlineRate = (Convert.ToDouble(onlineUser) / totalUser).ToString("p");
                        }
                        <div class="bar" style="width: @onlineRate;"></div>
                    </div>
                    <span class="tip" title="@onlineUser/@totalUser ">Online users</span>
                </li>

            </ul>
        </div>
        <ul class="action-tabs">
            <li><a href="#user-stats" title="">@Html.GetResourceString("QuickActions")</a></li>
            <li><a href="#quick-actions" title="">@Html.GetResourceString("QuickActions_MemberState")</a></li>
        </ul>
    </div>
</div>

<form action="@Url.Action("Index")" class="search widget"method="POST">
    <div class="autocomplete-append">
        <input type="text" id="searchContent" name="search" placeholder="@String.Format(Html.GetResourceString("search_placeHolder"), @Basic.Email, @Basic.Phone)" 
            class="ui-autocomplete-input" autocomplete="off">
        <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        <input type="submit" value="@Basic.Search" class="btn btn-info">
    </div>
</form>



<ul class="options-bar">
    <li>
        <form>
            <div class="bulk">
                <div class="bar-select">
                    <span>@Html.GetResourceString("ApplyAction")</span>

                    <select id="selApplyAction">
                        @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Lock))
                        {
                            <option value="Lock">@Html.GetResourceString("Lock")</option>
                            <option value="unLock">@Html.GetResourceString("Unlock")</option>
                        }

                        @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Approve))
                        {
                            <option value="Approve">@Html.GetResourceString("Approve")</option>
                        }
                        @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Delete))
                        {
                            <option value="delete">
                                @Basic.Delete
                            </option>
                        }
                    </select>

                </div>

                <div class="bar-button">
                    <button class="btn btn-info" type="button" id="BtnApply" disabled="disabled">@Html.GetResourceString("BtnApply")</button>
                </div>
            </div>
        </form>
    </li>
</ul>

<form method="POST" id="tableForm">
    <table class="table table-condensed table-striped table-bordered table-checks">
        <thead>
            <tr>
                <th></th>
                <th class="span1"></th>
                <th class="span1">
                    @Html.DisplayNameFor(model => model.LoginId)
                </th>

                <th style="width: 100px">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact.Email)
                </th>
                <th>
                    @Html.LabelFor(item => ((User)null).IsLockout)
                </th>
                <th>
                    @Html.LabelFor(item => ((User)null).IsApproved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Other.LastActivityDate)
                </th>
            </tr>
        </thead>
        <tbody id="userListBody">

            @foreach (User user in Model)
            {
                string clz = "";
                if (user.IsApproved == false)
                {
                    clz = "class=info";
                }
                if (user.IsLockout)
                {
                    clz = "class=Warning";
                }
                <tr @clz>
                    <td>
                        <input type="checkbox" name="loginIds" value="@user.LoginId" class="actionCheckbox"/>
                    </td>
                    @if (editPermission)
                    {
                        <td>
                            <ul class="table-controls" val="@user.Id">
                                <li><a href="@Url.Action("Edit", new { loginId = user.LoginId })" class="btn tip" title="@Basic.Edit">
                                    <i class="fam-user-edit"></i></a></li>
                                <li>
                                    <a  href="@Url.Action("Assign", new { loginId = user.LoginId })" class="btn tip" title="@Html.GetResourceString("Assignment")">
                                        <i class="fam-group-gear"></i></a>
                                </li>
                                @if (OrnamentContext.MemberShip.CurrentUser().Id != user.Id)
                                {
                                    <li>
                                        <a href="#@user.Id" class="btn tip" title="@Html.GetResourceString("PersonalMessage")" role="pm">
                                            <i class="fam-email-edit"></i>
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a href="#@user.Contact.Email" class="btn tip" title="Verify Email" role="verifyEmail">
                                        <i class="fam-email-go"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#@user.Contact.Email" class="btn tip" title="Retrieve Password" role="retievePwd">
                                        <i class="fam-key-go"></i>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    }
                    <td>
                        @user.LoginId
                    </td>
                    <td>
                        @user.Name
                    </td>
                    <td>
                        @user.Contact.Email
                    </td>
                    <td style="text-align: center">
                        <div class="@(user.IsLockout ? "icon-ok" : "icon-remove")">
                        </div>
                    </td>
                    <td style="text-align: center">
                        <div class="@(user.IsApproved ? "icon-ok" : "icon-remove")">
                        </div>
                    </td>
                    <td>
                        @user.Other.LastActivityDate
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    @Html.Partial("NavPagination", ViewData["Nav"])
                </td>
            </tr>
        </tfoot>
    </table>
</form>




