@using Ornament.MVCWebFrame.Models
@using Ornament.MVCWebFrame.Models.Membership
@using Ornament.MemberShip
@using Ornament.Web
@using Resources
@model IList<Ornament.MemberShip.User>
@{
    ViewBag.Title = MemberShip.User;
    Layout = "~/Views/Shared/_appLayout.cshtml";
    bool editPermission = OrnamentContext.Current.HasRight(ResourceSetting.User, UserOperator.Modify);

}
@section script
{
    <script type="text/javascript">
        $(document).ready(function() {

            $("#unlockButton").click(function() {
                submitAction(this);
            });

            $("#Lock").click(function() {
                submitAction(this);
            });

            $("#approvedButton").click(function() {
                submitAction(this);
            });

            $("#delete").click(function() {
                if (confirm("Do you want to delete user(s)?"))
                    submitAction(this);
            });

            $("#Create").click(function() {
                document.location = "@Url.Action("Create")";
            });

            var submitAction = function(button) {
                $("form").attr("action", $(button).val()).submit();
            };

            $("form input[name=loginIds]").change(function() {
                var val = $("form input[name=loginIds]:checked").length == 0 ? true : false;
                $("#unlockButton,#approvedButton,#delete,#Lock").attr("disabled", val);
            });

        })

    </script>
}
<div class="page-header">
    <h2>
        User List</h2>
</div>
<div class="box">
    <div class="content">
        <form method="post">
        <section>
            <header class="btn-toolbar">
                <div class="btn-group">
                    @if (OrnamentContext.Current.HasRight("User", UserOperator.Modify))
                    {
                        <button id="Create" type="button" class="btn btn-primary">
                            <i class="icon-plus icon-white"></i>@Basic.Create</button>
                    }
                </div>
                <div class="btn-group">
                    @if (OrnamentContext.Current.HasRight("User", UserOperator.Lock))
                    {
                        <button id="Lock" value="@Url.Action("Lock")" disabled="disabled" type="submit" class="btn">
                            <i class="icon-lock"></i>
                            @Html.GetResourceString("Lock")</button>
                    }
                    @if (OrnamentContext.Current.HasRight("User", UserOperator.Lock))
                    {
                        <button id="unlockButton" value="@Url.Action("Unlock")" disabled="disabled" type="submit" class="btn">
                            <i class="icon-unlock"></i>
                            @Html.GetResourceString("Unlock")
                        </button>
                    }
                    @if (OrnamentContext.Current.HasRight("User", UserOperator.Approve))
                    {
                        <button id="approvedButton" value="@Url.Action("Approve")" disabled="disabled" type="submit" class="btn">
                            <i class="icon-ok"></i>
                            @Html.GetResourceString("Approve")
                        </button>
                    }
                </div>
                <div class="btn-group">
                    @if (OrnamentContext.Current.HasRight("User", UserOperator.Delete))
                    {
                        <button id="delete"  value="@Url.Action("Delete")" disabled="disabled" type="submit" class="btn btn-danger btn-small">
                            <i class="icon-trash icon-white"></i>
                            @Basic.Delete
                        </button>
                    }
                </div>
            </header>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th style="width: 100px">
                            @Html.LabelFor(item => ((User)null).LoginId)
                        </th>
                        <th style="width: 100px">
                            @Html.LabelFor(item => ((User)null).Name)
                        </th>
                        <th>
                            @Html.LabelFor(item => ((User)null).Email)
                        </th>
                        <th>
                            @Html.LabelFor(item => ((User)null).IsLockout)
                        </th>
                        <th>
                            @Html.LabelFor(item => ((User)null).IsApproved)
                        </th>
                        <th>
                            @Html.LabelFor(item => ((User)null).LastActivityDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (User user in Model)
                    {
                        var clz = "";
                        if (user.IsApproved == false)
                        {
                            clz = "class=info";
                        }
                        if (user.IsLockout)
                        {
                            clz = "class=Warning";
                        }
                        <tr @clz>
                            <td>
                                <input type="checkbox" name="loginIds" value="@user.LoginId" />
                                @if (editPermission)
                                {
                                    <a href="@Url.Action("Edit", new { id = user.LoginId })" class="btn btn-info btn-mini" title="@Basic.Edit">
                                        <i class="icon-edit icon-white"></i></a>
                                    <a  href="@Url.Action("Assign", new { id = user.LoginId })" class="btn btn-info btn-mini" title="@Html.GetResourceString("Assignment")">
                                        <i class="icon-user icon-white"></i></a>
                                }
                            </td>
                            <td>
                                @user.LoginId
                            </td>
                            <td>
                                @user.Name
                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td style="text-align: center">
                                <div class="@(user.IsLockout ? "icon-ok" : "icon-remove")">
                                </div>
                            </td>
                            <td style="text-align: center">
                                <div class="ui-icon @(user.IsApproved ? "icon-ok" : "icon-remove")">
                                </div>
                            </td>
                            <td>
                                @user.LastActivityDate
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <form>
                            @Html.Partial("NavPagination", ViewData["Nav"])
                            </form>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
        </form>
    </div>
</div>
