@using Ornament.MVCWebFrame.Models
@using Ornament.MVCWebFrame.Models.Membership
@using Ornament.MemberShip
@using Ornament.Models.Memberships
@using Ornament.Web
@using Resources
@model IList<Ornament.MemberShip.User>
@{
    ViewBag.Title = MemberShip.User;
    Layout = "~/Views/Shared/_appLayout.cshtml";
    bool editPermission = OrnamentContext.Current.HasRight(ResourceSetting.User, UserOperator.Modify);
}
@section script
{
    <script type="text/javascript">
        seajs.use(['valid'], function () {

            $("#unlockButton,#Lock,#approvedButton").click(function () {
                submitAction(this);
            });

            $("#delete").click(function () {
                if (confirm("Do you want to delete user(s)?"))
                    submitAction(this);
            });

            var submitAction = function (button) {
                /*$("form").attr("action", $(button).val()).submit();*/
            };

            $("input[name=loginIds]").change(function () {
                var val = $("input[name=loginIds]:checked").length == 0 ? true : false;
                $("#unlockButton,#approvedButton,#delete,#Lock").attr("disabled", val);
            });

            $("#btnCreateUser").click(function () {
                $("#createUserModel form").submit();
                //$('#createUserModel').modal('hide');
            });

        });

    </script>
}
@section pageTitle{
    <h5>@String.Format("{0}{1}", MemberShip.User, "列表")</h5>
}
<div class="actions-wrapper">
    <div class="actions">

        <div id="user-stats">
            <ul class="round-buttons">
                <li>
                    <div class="depth"><a href="#createUserModel" title="" data-toggle="modal" title="@Html.GetResourceString("quickAction_CreateUser")" class="tip"><i class="icon-user"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="View statement" class="tip"><i class="icon-search"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Media posts" class="tip"><i class="icon-reorder"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="RSS feed" class="tip"><i class="icon-rss"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Create new task" class="tip"><i class="icon-tasks"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Layout settings" class="tip"><i class="icon-cogs"></i></a></div>
                </li>

            </ul>
        </div>
        <ul class="action-tabs">
            <li><a href="#user-stats" title="">@Html.GetResourceString("QuickActions")</a></li>
        </ul>
    </div>
</div>

<form action="#" class="search widget">
    <div class="autocomplete-append">
        <ul class="search-options">
            <li><a class="go-option tip" title="" href="#" data-original-title="Go to search page"></a></li>
            <li><a class="advanced-option tip" title="" href="#" data-original-title="Advanced search"></a></li>
            <li><a class="settings-option tip" title="" href="#" data-original-title="Settings"></a></li>
        </ul>
        <input type="text" id="autocomplete" placeholder="search website..." class="ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
        <input type="submit" value="Search" class="btn btn-info">
        <ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="z-index: 1; display: none;"></ul>
    </div>
</form>

<ul class="toolbar">
    @if (OrnamentContext.Current.HasRight("User", UserOperator.Modify))
    {
        <li><a id="create" href="#createUserModel" title="" data-toggle="modal"><i class="icon-plus"></i><span>@Basic.Create</span></a></li>
    }
    @if (OrnamentContext.Current.HasRight("User", UserOperator.Lock))
    {
        <li class="disabled"><a href="#@Url.Action("Lock")"  id="Lock"  title=""><i class="icon-download-alt"></i><span>@Html.GetResourceString("Lock")</span></a></li>
        <li class="disabled"><a href="#@Url.Action("Unlock")"  id="unLock"  title=""><i class="icon-download-alt"></i><span>@Html.GetResourceString("Unlock")</span></a></li>
    }
    @if (OrnamentContext.Current.HasRight("User", UserOperator.Approve))
    {
        <li class="disabled"><a href="#@Url.Action("Approve")"  id="Approve"  title=""><i class="icon-download-alt"></i><span>@Html.GetResourceString("Approve")</span></a></li>
    }
    @if (OrnamentContext.Current.HasRight("User", UserOperator.Delete))
    {
        <li class="disabled">
            <a id="delete" href="#@Url.Action("Delete")">
                <i class="icon-trash"></i>
                @Basic.Delete
            </a>
        </li>
    }
</ul>


<table class="table table-condensed table-striped table-bordered table-checks">
    <thead>
        <tr>
            <th></th>
            <th style="width: 80px"></th>
            <th style="width: 100px">
                @Html.LabelFor(item => ((User)null).LoginId)
            </th>

            <th style="width: 100px">
                @Html.LabelFor(item => ((User)null).Name)
            </th>
            <th>
                @Html.LabelFor(item => ((User)null).Email)
            </th>
            <th>
                @Html.LabelFor(item => ((User)null).IsLockout)
            </th>
            <th>
                @Html.LabelFor(item => ((User)null).IsApproved)
            </th>
            <th>
                @Html.LabelFor(item => ((User)null).LastActivityDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model)
        {
            string clz = "";
            if (user.IsApproved == false)
            {
                clz = "class=info";
            }
            if (user.IsLockout)
            {
                clz = "class=Warning";
            }
            <tr @clz>
                <td>
                    <input type="checkbox" name="loginIds" value="@user.LoginId" class="styled"/>
                </td>
                @if (editPermission)
                {
                    <td>
                        <ul class="table-controls">
                            <li><a href="@Url.Action("Edit", new { id = user.LoginId })" class="btn tip" title="@Basic.Edit">
                                <i class="fam-user-edit"></i></a></li>
                            <li>
                                <a  href="@Url.Action("Assign", new { id = user.LoginId })" class="btn tip" title="@Html.GetResourceString("Assignment")">
                                    <i class="fam-group-gear"></i></a>
                            </li>
                        </ul>
                    </td>
                }
                <td>
                    @user.LoginId
                </td>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Email
                </td>
                <td style="text-align: center">
                    <div class="@(user.IsLockout ? "icon-ok" : "icon-remove")">
                    </div>
                </td>
                <td style="text-align: center">
                    <div class="ui-icon @(user.IsApproved ? "icon-ok" : "icon-remove")">
                    </div>
                </td>
                <td>
                    @user.LastActivityDate
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8">
                <form id="navbar">
                    @Html.Partial("NavPagination", ViewData["Nav"])
                </form>
            </td>
        </tr>
    </tfoot>
</table>


<!-- place holder for dialog -->
<div id="createUserModel" class="modal hide fade" id="createUserForm" style="width: 600px">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>@Basic.Create@(MemberShip.User)</h3>
    </div>
    <div class="modal-body">
        @Html.Partial("Create", new CreateUserModel())
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">@Basic.Cancel</a>
        <a href="#" class="btn btn-primary" id="btnCreateUser">@Basic.Save</a>
    </div>
</div>
