@using Ornament
@using Ornament.MemberShip
@using Ornament.Models.Memberships
@using Ornament.MVCWebFrame.Models
@using Ornament.MVCWebFrame.Models.Membership
@using Ornament.Web
@using Ornament.Web.Bundles
@using Ornament.Web.HtmlExtends
@using Resources
@model IEnumerable<Ornament.MemberShip.User>
@{
    ViewBag.Title = MemberShip.User;
    Layout = OrnamentContext.Configuration.BackendLayout();
    bool editPermission = OrnamentContext.MemberShip.HasRight(ResourceSetting.User, UserOperator.Modify);
    var status = ViewData["UserStatus"] as UsersStatusModel;
}

@section scripts 
{
    @Html.Partial("_pm")

    <script type="text/javascript">
        var multiLanguate = {
            verifyEmailMessage: {
                success: "@Html.GetResourceString("verify_email_success")",
                fail: "@Html.GetResourceString("verify_email_fail")"
            },
            retrievePwdMessage: {
                success: "@Html.GetResourceString("retrieve_pwd_success")",
                fail: "@Html.GetResourceString("retrieve_pwd_fail")"
            }
        };
        var curUser = {
            Id: "@OrnamentContext.MemberShip.CurrentUser().Id",
            Name: "@OrnamentContext.MemberShip.CurrentUser().Name"
        };

        seajs.use("@ScriptsSeajs.RenderUrl("~/Scripts/Modules/Views/Memberships/user/index.js")", function (main) {
            main.init(multiLanguate, curUser, {
                url: "@Url.Action("Users", "User", new { area = "MemberShips" })"
            });
        });
    </script>
}

@section pageTitle{
    <h5>MemberShip Dashboard</h5>
}
@*
<div class="actions-wrapper">
    <div class="actions">
        <div id="user-stats">
            <ul class="round-buttons">
                @if (OrnamentContext.MemberShip.HasRight("User", UserOperator.Modify))
                {
                    <li>
                        <div class="depth"><a href="@Url.Action("Create", "User", new {area = "MemberShips"})" title="@Html.GetResourceString("quickAction_CreateUser")" class="tip"><i class="icon-plus"></i></a></div>
                    </li>
                }
            </ul>
        </div>
        <div id="quick-actions">
            <ul class="statistics">
                <li>
                    <div class="top-info">
                        <a href="#" title="" class="sea-square"><i class=" icon-globe"></i></a>
                        <strong>@status.OnlineUser</strong>
                    </div>
                    <div class="progress progress-micro">

                        <div class="bar" style="width: @status.OnlineUserRate.ToString("P");"></div>
                    </div>
                    <span class="tip" title="@status.OnlineUser/@status.TotalUsers ">@Html.GetResourceString("OnlineUser")</span>
                </li>
                <li>
                    <div class="top-info">
                        <a href="#" title="" class="blue-square"><i class="icon-plus"></i></a>
                        <strong>@status.TodayRegist</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div class="bar" style="width: @(status.TodayRegistRate.ToString("P"))"></div>
                    </div>
                    <span class="tip" title="@status.TodayRegist/@status.TotalUsers">@Html.GetResourceString("TodayRegist")</span>
                </li>
            </ul>
        </div>
        <ul class="action-tabs">
            <li><a href="#user-stats" title="">@Html.GetResourceString("QuickActions")</a></li>
            <li><a href="#quick-actions" title="">@Html.GetResourceString("QuickActions_MemberState")</a></li>
        </ul>
    </div>
</div>

*@

@using (Html.Box())
{
    @Html.BoxBody(
        @<text>
    <form method="POST" id="tableForm">
        <table class="table table-condensed table-striped table-bordered table-checks" id="table">
            <thead>
                <tr>
                    <th style="width: 150px;"></th>
                    <th>
                        @Html.DisplayNameFor(model => model.LoginId)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact.Email)
                    </th>
                    <th>
                        @Html.LabelFor(model => ((User)null).IsLockout)
                    </th>
                    <th>
                        @Html.LabelFor(model => ((User)null).IsApproved)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Other.LastActivityDate)
                    </th>
                </tr>
            </thead>

        </table>
    </form>
    </text>
        )
    ;
}