@using Ornament.Web
@model Ornament.MemberShip.Web.Plugin.Models.Memberships.LogonModel

<div class="well no-padding">
    <form action="@Url.Action("Logon")" id="login-ajax-form" class="smart-form client-form" method="POST">
        <header>
            @Html.GetResourceString("SignIn")
        </header>

        <fieldset>

            <section>
                <label class="label">@Html.DisplayNameFor(x => x.User)</label>
                <label class="input">
                    <i class="icon-append fa fa-user"></i>
                    @Html.TextBoxFor(x => x.User)
                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>@Html.GetResourceString("LoginIdTips")</b></label>
                

            </section>

            <section>
                <label class="label">@Html.DisplayNameFor(x => x.Password)</label>
                <label class="input">
                    <i class="icon-append fa fa-lock"></i>
                    @Html.PasswordFor(x => x.Password)
                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i>@Html.GetResourceString("PasswordTips")</b>
                </label>

            </section>
            @Html.HiddenFor(x => x.ReturnUrl)

        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                @Html.GetResourceString("SignInBtn")
            </button>
        </footer>
    </form>
    <script type="text/javascript">
        require(["vaform"], function (vaform) {
            $("#login-ajax-form").vaform({
                success: function (data) {
                    if (data) {
                        location = location;
                    } else {
                        alert('login faile');
                    }
                }
            });

        })
    </script>
</div>
