@{
    Layout = "~/Views/Shared/_standLayout.cshtml";
}

@using Ornament.Web
@model Ornament.MemberShip.Web.Plugin.Models.Memberships.LogonModel


@section headerSpace{
    <span id="extr-page-header-space"><span class="hidden-mobile">Need an account?</span> <a href="@Url.Action("Register")" class="btn btn-danger">Create account</a> </span>
}




<form action="@Url.Action("Logon")" id="login-form" class="smart-form client-form" method="POST">
    <header>
       @Html.GetResourceString("SignIn")
    </header>

    <fieldset>

        <section>
            <label class="label">@Html.DisplayNameFor(x => x.User)</label>
            <label class="input">
                <i class="icon-append fa fa-user"></i>
                @Html.TextBoxFor(x => x.User)
                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Html.GetResourceString("LoginIdTips")</b></label>
        </section>

        <section>
            <label class="label">@Html.DisplayNameFor(x => x.Password)</label>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                @Html.PasswordFor(x => x.Password)
                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> @Html.GetResourceString("PasswordTips")</b>
            </label>
            <div class="note">
                <a href="forgotpassword.html">@Html.GetResourceString("ForgetPassword")</a>
            </div>
        </section>
        @Html.HiddenFor(x => x.ReturnUrl)
        <section>
            <label class="checkbox">
                @Html.CheckBoxFor(x => x.RememberMe)
                <i></i>@Html.GetResourceString("RemeberMe")
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="submit" class="btn btn-primary">
            @Html.GetResourceString("SignIn")
        </button>
    </footer>
</form>


@section scripts{
    <!-- JQUERY MASKED INPUT -->
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script type="text/javascript">
    </script>
}


