@using Resources
@model Ornament.Models.Messages.NotifyTypeModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
@section pageTitle
{
    <h5>Create Notify Type </h5>
}


@using (Html.BeginForm("Save", "NotifyType", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
        
    @Html.EditorFor(model => model.Name)
        
        
    @Html.EditorFor(model => model.Remark)
    
    <div class="form-actions">
        <button class="btn btn-info" type="submit">@Basic.Create</button>
        <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
    </div>

    
}


@section script {
    <script type="text/javascript">
        seajs.use(["valid"])
    </script>
}
