@using Ornament
@using Ornament.Web
@using Qi.Web
@using Basic=Ornament.Properties.Resources
@model Ornament.Messages.Plugin.Areas.Messages.Models.Messages.MessageTemplateModel

@{
    ViewBag.Title = Html.GetResourceString("title");
    Layout = OrnamentContext.Configuration.BackendLayout();
    string contents = "{}";


    if (Model != null)
    {
        var content = from a in Model.Contents.Values
                      select new
                      {
                          subject = a.Subject,
                          content = a.Value,
                          language = a.Language
                      };
        contents = JsonHelper.ToJson(content.ToDictionary(s => s.language));
    }
    var nodifyList = from a in OrnamentContext.DaoFactory.MessageDaoFactory.NotifyTypeDao.GetAll()
                     select new SelectListItem()
                         {
                             Text = a.Name,
                             Value = a.Id
                         };
}

@section pageTitle
{
    <h5>@Html.GetResourceString("title")</h5>
}
@using (Html.BeginForm("Create", "Template", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <input type="submit" value="@Basic.Save" class="btn btn-info" />
                <a href="@Url.Action("Index")" class="btn">@Basic.Cancel</a>
            </div>
        </div>
        <div class="body well">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab7"><i class="fam-layout-content"></i>@Html.GetResourceString("Tab_title_Basic")</a></li>
                <li class=""><a data-toggle="tab" href="#tab8"><i class=" fam-pencil-add"></i>@Html.GetResourceString("Tab_title_Content")</a></li>
            </ul>
            <div class="tab-content">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div id="tab7" class="tab-pane active">
                    <div class="row-fluid">
                        @Html.EditorFor(model => model.Name)
                        @Html.EditorFor(model=>model.Inside)
                        <div class="control-group">
                            @Html.LabelFor(s => s.Notify, new { @class = "control-label span12" })
                            <div class="controls">
                                @Html.ListBoxFor(s => s.Notify, nodifyList)
                                @Html.ValidationMessageFor(s => s.Notify)
                            </div>
                        </div>
                        @Html.EditorFor(model => model.Remark)
                    </div>
                </div>
                <div id="tab8" class="tab-pane">

                    <div class="control-group">
                        <label class="control-label">Language:</label>
                        <div class="controls">
                            <select id="Language">
                                @{
    var langs = OrnamentContext.Configuration.Languages;
    foreach (var lang in langs)
    {
                                    <option value="@lang.Key">@lang.Name ( @lang.Key )</option>
    }
                                }
                            </select>
                        </div>


                    </div>
                    <div class="control-group">
                        <label class="control-label">Subject</label>
                        <div class="controls">
                            <input id="subject" class="styled" type="text" style="width: 100%" />
                        </div>
                    </div>
                    <div class="control-group">
                        <textarea name="editor" id="editor"></textarea>
                    </div>

                </div>
                <!-- End Content -->
            </div>

        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        var content = @Html.Raw(contents)

           seajs.use(['ckeditor/ckeditor.js', "select2", "bootstrap"], function () {

               var editor = CKEDITOR.replace('editor');
               editor.on("blur", function () {
                   content[$("#Language").val()] = {
                       content: editor.getData(),
                       subject: $("#subject").val()
                   };
               });

               $("#Language").select2({ allowClear: false }).change(function () {
                   var cont = content[$(this).val()];
                   editor.setData(cont ? cont.content : "");
                   $("#subject").val(cont ? cont.subject : "");
               }).change().next().click(function () {
                   delete content[$("#Language").val()];
               });

               $("#Notify").select2({ allowClear: false });

               $("form").submit(function () {
                   //Make sure the editor save to content.
                   content[$("#Language").val()] = {
                       content: editor.getData(),
                       subject: $("#subject").val()
                   };

                   var ary = [];
                   for (var key in content) {
                       ary.push("<input type='hidden' value='" + content[key].content + "' name='Contents[" + key + "].Value'/>");
                       ary.push("<input type='hidden' value='" + content[key].subject + "' name='Contents[" + key + "].Subject'/>");
                       ary.push("<input type='hidden' value='" + key + "' name='Contents[" + key + "].Language'/>");
                   }
                   $("[name=editor]").remove();
                   $("form").append(ary.join(""));
               });
           });
    </script>
}
