@using Ornament
@using Ornament.Web
@using Ornament.Web.Bundles
@using Ornament.Web.UI.Theme
@using SeajsBundles
@using Basic = Ornament.Properties.Resources
@model System.Collections.Generic.IEnumerable<ornament.messages.notification.notifymessagetemplate>

@{
    ViewBag.Title = "Template for Simple Message";
    Layout = OrnamentContext.Configuration.Layout();
}
@section pageTitle{
    <h2>Template for Simple Message</h2>
}

@using (var panel = Html.Panel(new PanelOption()
{
    HtmlAttributes = new Dictionary<string, object>()
    {
        {"ms-controller","templateIndex"}
    }
}))
{
    @panel.Header(@<text>
    <h2>Template List</h2>

                   </text>);
    
    @panel.Body(@<text>
                     <div class="widget-body-toolbar">
                            <a class="btn btn-info" href="@Url.Action("Create")">@Basic.Create</a>    
                     </div>

                     <table class="table table-condensed table-striped table-bordered">
                         <thead>
                             <tr>
                                 <th>
                                     @Html.DisplayNameFor(model => model.Name)
                                 </th>
                                 <th></th>
                             </tr>
                         </thead>
                         <tbody>

                             <tr ms-repeat="templates">
                                 <td ms-text="el.Name"></td>
                                 <td>
                                     <a ms-href="#@Url.Action("Edit")/{{el.Id}}" class="btn btn-primary">
                                         @Basic.Edit
                                     </a>
                                     <a ms-href="#@Url.Action("Publish")/{{el.Id}}" class="btn btn-default">Notifies</a>
                                 </td>
                             </tr>

                         </tbody>
                         <tfoot>
                             <td colspan="3" ms-widget="pager"></td>
                         </tfoot>
                     </table>



                 </text>);
}

@section scripts
{
    <script type="text/javascript">
        require(["@Scripts.Url("~/Messages/Scripts/Template/Index.js")"], function (init) {
            init.init();
            clearPageVariable.push(init.clear);
        });
    </script>
}