@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Plugin.Models
@using Ornament.MemberShip.Properties
@using Ornament.Web.UI.Paginations
@using Qi.Web.Mvc
@model IEnumerable<Role>
@{
    ViewBag.Title = Resources.Role;
    Layout = OrnamentContext.Configuration.Layout();
    bool hasDelete = OrnamentContext.MemberShip.HasRight("Role", RoleOperator.Delete);
    bool hasModify = OrnamentContext.MemberShip.HasRight("Role", RoleOperator.Modify);
}
@section pageTitle
{
    <h3>@Resources.Role</h3>
}
<div class="widget">
    <div class="well body">
        <a href="@Url.Action("Create")" class="btn"><i class="icon-plus"></i>@Ornament.Properties.Resources.Create</a>

        <table class="table table-condensed table-striped" ms-controller="role">
            <thead>
                <tr>
                    @if (hasModify || hasDelete)
                    {
                        <th style="width: 100px"></th>
                    }
                    <th>
                        @Html.DisplayNameFor(model => model.Name)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Remarks)

                    </th>
                </tr>
            </thead>
            <tbody ms-each-el="roles">
                <tr>
                    @if (hasModify || hasDelete)
                    {
                        <td>
                            @if (hasModify)
                            {
                                <a ms-href="@Url.Action("Edit")/{{el.Id}}" title="@Ornament.Properties.Resources.Edit" class="btn btn-info btn-mini">
                                    <i class="icon-edit icon-white"></i></a>
                            }
                            @if (hasDelete)
                            {
                                <a ms-href="@Url.Action("Delete")/{{el.Id}}" title="@Ornament.Properties.Resources.Edit" class="btn btn-danger btn-mini">
                                    <i class="icon-remove icon-white"></i></a>
                            }
                        </td>
                    }
                    <td ms-text="el.Name"></td>
                    <td ms-text="el.Remarks"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="@((hasModify || hasDelete) ? "3" : "2")">
                        @Html.Pages()
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
@section scripts{
    <script type="text/javascript">
        seajs.use('@Scripts.Url("/MemberShips/Scripts/Role/index.js")')
    </script>
}