@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Plugin.Models
@using Ornament.MemberShip.Properties
@using Ornament.Web.UI.Paginations
@using Ornament.Web.UI.Theme
@using Qi.Web.Mvc
@model IEnumerable<Role>
@{
    ViewBag.Title = Resources.Role;
    Layout = OrnamentContext.Configuration.Layout();
    bool hasDelete = OrnamentContext.MemberShip.HasRight("Role", RoleOperator.Delete);
    bool hasModify = OrnamentContext.MemberShip.HasRight("Role", RoleOperator.Modify);
}


@using (var panel = Html.Panel())
{
    
    @panel.Header(@<text>
                       <h2>Role List</h2>
                   </text>)
    @panel.Body(@<text>
                     <table class="table table-condensed table-striped" ms-controller="index">
                         <thead>
                             <tr>
                                 @if (hasModify || hasDelete)
                                 {
                                     <th style="width: 100px"></th>
                                 }
                                 <th>
                                     @Html.DisplayNameFor(model => model.Name)

                                 </th>
                                 <th>
                                     @Html.DisplayNameFor(model => model.Remarks)

                                 </th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr ms-repeat-el="roles">
                                 @if (hasModify || hasDelete)
                                 {
                                     <td>
                                         @if (hasModify)
                                         {
                                             <a ms-href="@Url.Action("Edit")/{{el.Id}}" title="@Ornament.Properties.Resources.Edit" class="btn btn-info">
                                                 <i class="fa-edit fa"></i></a>
                                         }
                                         @if (hasDelete)
                                         {
                                             <a ms-href="@Url.Action("Delete")/{{el.Id}}" title="@Ornament.Properties.Resources.Edit" class="btn btn-danger">
                                                 <i class="fa-remove fa"></i></a>
                                         }
                                     </td>
                                 }
                                 <td ms-text="el.Name"></td>
                                 <td ms-text="el.Remarks"></td>
                             </tr>
                         </tbody>
                         <tfoot>
                             <tr>
                                 <td colspan="@((hasModify || hasDelete) ? "3" : "2")" ms-widget="pager"></td>
                             </tr>
                         </tfoot>
                     </table>

    </text>)
}




@section scripts{
    <script type="text/javascript">
        require(['@Scripts.Url("/MemberShips/Scripts/Role/index.js")'], function(main) {
            main.init();
            clearPageVariable.push(main.clear);
        });
    </script>
}