@using Ornament
@using Ornament.Properties
@using Ornament.Web.UI.Theme

@model Ornament.MemberShip.Plugin.Models.Memberships.OrgModel

@{
    ViewBag.Title = Resources.Create + " " + Ornament.MemberShip.Properties.Resources.Org;
    Layout = OrnamentContext.Configuration.BackendLayout();
}

@section pageTitle
{
    <h6>@Resources.Create @Ornament.MemberShip.Properties.Resources.Org</h6>
}

@using (Panel box = Html.Panel())
{
    @box.Body(@<text>


    @Html.ValidationSummary(true)
    <form method="POST" action="@Url.Action("Save")" class=" form-horizontal">
        @Html.EditorFor(s => s.Name)
        @Html.EditorFor(s => s.Remark)
        @Html.EditorFor(s => s.Roles)
        @Html.Hidden("Parent", (Model != null && Model.Parent != null) ? Model.Parent.Id : "")
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">@Resources.Create</button>
            <button onclick=" location = '@Url.Action("Index")' " type="button" class="btn">@Resources.Cancel</button>
        </div>
    </form>




    </text>)
}
@section scripts{
    <script type="text/javascript">
        seajs.use("/MemberShips/Scripts/Org/Create.js");
    </script>
}