@using MvcSiteMapProvider.Web.Html
@using Ornament
@using Ornament.MemberShip
@using Ornament.Web
@using Ornament.Web.UI.Theme

@model Ornament.MemberShip.Plugin.Models.Memberships.OrgModel
@{
    ViewBag.Title = "Edit";
    Layout = OrnamentContext.Configuration.BackendLayout();
    Org parent = Model.Parent;
}
@section pageTitle
{
    @if (Model != null && Model.Parent != null)
    {
        <h5>Parent Org: @Model.Parent.Name</h5>
    }
    else
    {
        <h5>Parent Org : Root</h5>
    }
    @if (Model != null)
    {
        <span>Html.Partial("OrgNavigator", parent)
        </span>
    }
}
@using (var panel = Html.Panel())
{
    @panel.Body(@<text>
    @Html.ValidationSummary()
    <form class="form-horizontal" method="POST" action="@Url.Action("Save")">
        @Html.HiddenFor(s => s.Id)
        @Html.EditorFor(s => s.Name)
        @Html.EditorFor(s => s.Remark)
        @Html.EditorFor(s => s.Roles)


        @Html.Hidden("Parent", (Model != null && Model.Parent != null) ? Model.Parent.Id : "")
        <div class="form-actions">
            <button class="btn btn-primary">@Ornament.Properties.Resources.OK</button>
            <button onclick = " location = '@Url.Action("Index")' " class="btn" type="button">@Ornament.Properties.Resources.Cancel</button>
        </div>
    </form>

    </text>)

    
}