@using Ornament
@using Ornament.MemberShip.Plugin.Properties
@model Ornament.MemberShip.UserGroup
@{
    ViewBag.Title = "分配角色:" + Model.Name;
    Layout = OrnamentContext.Configuration.Layout();
}

@section pageTitle
{
    <h6>@Model.Name</h6>
}
@using (Html.BeginForm())
{
    <header>
        <button type="submit" id="submit" class="btn btn-primary">
            <i class="icon-ok icon-white"></i>
            @Ornament.Properties.Resources.Save
        </button>
        <a class="btn" href="@Url.Action("Index")">@Ornament.Properties.Resources.Cancel</a>
    </header>
    <section>
        <input id="Id" name="Id" value="@Model.Id"  type="hidden"/>
        @Html.Partial("RoleAssign", Model.GetAllRoles())
    </section>
}