@using Ornament
@using Ornament.Properties

@using Qi.Web.Mvc
@model Ornament.MemberShip.UserGroup
@{
    ViewBag.Title = Resources.Create + Ornament.MemberShip.Properties.Resources.UserGroup;
    Layout = OrnamentContext.Configuration.BackendLayout();
    
}
@section pageTitle{
    <h3>
        @Resources.Create @Ornament.MemberShip.Properties.Resources.UserGroup
    </h3>
}
<form class="form-horizontal" method="POST">
    @Html.ValidationSummary(true)

   
            @Html.EditorFor(model => model.Name)
        
            @Html.EditorFor(model => model.Remarks)
      
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">
            <i class="icon-plus icon-white"></i>@Ornament.Properties.Resources.Create</button>
        <a href="@Url.Action("index")" class="btn btn-warning" type="button"><i class="icon-white icon-warning-sign"></i>@Resources.Cancel</a>
    </div>
</form>
