@using Ornament
@using Ornament.Properties
@using Ornament.Web.UI.Theme
@model Ornament.MemberShip.Plugin.Models.Memberships.UserGroupModel
@{
    ViewBag.Title = Resources.Edit + ":" + Model.Name;
    Layout = OrnamentContext.Configuration.BackendLayout();
}
@section pageTitle
{
    <h5>@Model.Name</h5>
}
@using (var panel = Html.Panel())
{
    @panel.Body(@<text>
    <div class="form-horizontal">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
    
            @Html.EditorFor(s => s.Name)
            @Html.EditorFor(s => s.Remark)
            @Html.EditorFor(s => s.Roles)
            @Html.HiddenFor(model => model.Id)

            <div class="btn-toolbar form-actions">
                <button type="submit" id="submit" class="btn btn-primary">@Resources.OK</button>
                <a id="cancel" href="@Url.Action("Index")" class="btn">@Resources.Cancel</a>
            </div>
    
        }
    </div>
    </text>)
}

