@using Ornament
@using Ornament.Properties
@model Ornament.MemberShip.Plugin.Models.Memberships.UserGroupModel
@{
    ViewBag.Title = Resources.Edit + ":" + Model.Name;
    Layout = OrnamentContext.Configuration.BackendLayout();
}
@section pageTitle
{
    <h5>Edit UserGroup @Model.Name</h5>
}
<div class="widget">

    <div class="well">
        <div class="form-horizontal">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
    
                @Html.EditorFor(s => s.Name)
                @Html.EditorFor(s => s.Remark)
                @Html.EditorFor(s=>s.Roles)
                @Html.HiddenFor(model => model.Id)

                <div class="btn-toolbar form-actions">
                    <a id="submit" class="btn btn-primary">@Resources.OK</a>
                    <a  id="cancel" href="@Url.Action("Index")" class="btn">@Resources.Cancel</a>
                </div>
    
            }
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        seajs.use(['jquery'], function () {

            $(".btn-toolbar a:first").click(function () {
                $("form").submit();
            });
        });

    </script>
}
