@model Badminton.Gymnasium

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}

<div class="widget">
    <div class="body well">

        <form  class="form-horizontal">
            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Name)</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Phone)</td>
                    <td>@Html.DisplayFor(model => model.Phone)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Address)</td>
                    <td> @Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <td>  @Html.DisplayNameFor(model => model.Remarks)</td>
                    <td>@Html.DisplayFor(model => model.Remarks)</td>
                </tr>
            </table>
        </form>
    </div>
</div>
<p>
    @Html.ActionLink("返回列表", "Index")
</p>
