@using Ornament.MVCWebFrame.Models
@using Ornament.MemberShip
@using Ornament.Web.Models
@using Qi
@using Qi.Web.Mvc
@model InitData
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="box">
    <div class="content">
        @Html.ValidationSummary()
        <form method="post">
        @if (GlobalInitializer.AllDataInitializers.Length != 0)
        {
            <div id="InitializersPanel">
                <ul style="margin: 0px; padding: 0; list-style-type: none">
                    @foreach (var webSiteinit in GlobalInitializer.AllDataInitializers)
                    {
                        <li>
                            <label for="@webSiteinit.Name" class="checkbox">
                                <input type="checkbox" name="Initializers"  id="@webSiteinit.Name" value="@webSiteinit.Name" checked="checked"/>
                                @webSiteinit.Name</label>
                        </li>
                    }
                </ul>
            </div>
        }        <div class="form-actions">
            <button type="submit" class="btn btn-primary">@Resources.Basic.Save</button>
        </div>
        </form>
    </div>
</div>
@section head
{
    <style type="text/css">
        .cssform label
        {
            width: 12em;
        }
        #editPanel
        {
            width: 100%;
        }
        /* clear cssform label effective*/.cssformData label
        {
            float: none;
            margin-right: 0em;
            text-align: left;
            width: 4em;
        }
    </style>
}
@section script
{
    <script type="text/javascript">
        
    </script>
}
