@using Ornament.MemberShip
@using Ornament.Web
@model Ornament.Models.Memberships.Partials.UserBasicInfoModel
@{
    var roles = from role in OrnamentContext.Current.MemberShipFactory().Roles select role;
    var ugs = from ug in OrnamentContext.Current.MemberShipFactory().UserGroups select ug;
    var selectedRoles = this.Model != null ? this.Model.Roles.ToDictionary(s => s.Id) : new Dictionary<string, Role>();
    var selectUgs = this.Model != null ? this.Model.UserGroups.ToDictionary(s => s.Id) : new Dictionary<string, UserGroup>();
        
}

<div class="control-group">
    @Html.LabelFor(model => model.LoginId, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.LoginId, new { @class = "span12" })
        @Html.ValidationMessageFor(model => model.LoginId)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Email, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model.Email, new { @class = "span12" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.Roles, new { @class = "control-label" })
    <div class="controls">
        <select name="Roles" multiple="multiple" class="select" tabindex="6">
            @foreach (var a in roles)
            {
                if (selectedRoles.ContainsKey(a.Id))
                {
                <option value="@a.Id" selected="selected">@a.Name</option>
                }
                else
                {
                <option value="@a.Id">@a.Name</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(model => model.Roles)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.Roles, new { @class = "control-label" })
    <div class="controls">
        <select name="UserGroups" multiple="multiple" class="select" tabindex="6">
            @foreach (var a in ugs)
            {
                if (selectUgs.ContainsKey(a.Id))
                {
                <option value="@a.Id" selected="selected">@a.Name</option>
                }
                else
                {
                <option value="@a.Id">@a.Name</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(model => model.UserGroups)
    </div>
</div>


<script type="text/javascript">
    seajs.use(["select2"], function () {
        $(".select").select2();
    });
</script>
