@using Ornament.Messages
@using Resources
@model IEnumerable<Ornament.Messages.MessageType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    MessageType parent = ViewData["parent"] as MessageType;
    string parentParentId = "";
    if (parent != null && parent.Parent != null)
    {
        parentParentId = parent.Parent.Id;
    }
}



@section pageTitle
{

    @if (parent != null)
    {
        <h6>
            <a href="@Url.Action("Index", new { parentId = parentParentId })">@parent.Name</a>(@this.Model.Count())
        </h6>
    }
    else
    {
        <h6>Message Type(@this.Model.Count())</h6>
    }
}
<div class="widget">

    <div class="navbar">
        <div class="navbar-inner">

            <a class="btn btn-info" href="@Url.Action("Create", new { ParentId = parent != null ? parent.Id : "" })">@Basic.Create</a>
        </div>
    </div>

    <div class="well body">
        @if (Model.Count() != 0)
        {
   
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30px"></th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a class="btn btn-small btn-info" href="@Url.Action("Index", new { parentId = item.Id })"><i class="ico-chevron-right"></i>
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    

        }
        else
        {
            <div class="alert alert-info">
                <h6>No message type found. 
                </h6>
            </div>
        }
    </div>
</div>
