@model Ornament.MVCWebFrame.Models.ChangePasswordModel
<div class="control-group">
    @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label" })
    <div class="controls">
        @Html.PasswordFor(model => model.CurrentPassword)
        @Html.ValidationMessageFor(model => model.CurrentPassword)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
    <div class="controls">
        @Html.PasswordFor(model => model.NewPassword)
        @Html.ValidationMessageFor(model => model.NewPassword)
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
    <div class="controls">
        @Html.PasswordFor(model => model.ConfirmPassword)
        @Html.ValidationMessageFor(model => model.ConfirmPassword)
    </div>
</div>
<div class="form-actions">
    <button id="ChangePasswordButton" class="btn btn-primary" type="submit">@Resources.Basic.OK
        <i class="icon-pencil icon-white"></i>
    </button>
</div>
