@using Resources
@using Ornament.Web.HtmlExtends;
@model Ornament.MemberShip.User
@using (Ajax.BeginForm("SaveBaseInfo", new AjaxOptions() { HttpMethod = "post", OnSuccess = "SaveSuccess" }))
{
    <div class="form-horizontal">
        @this.Html.LabelTextBoxFor(s => s.Name)
        @* <div class="control-group">
            @Html.LabelFor(s => s.Name, new { @class = " control-label" })
            <div class="controls">
                @Html.TextBoxFor(s => s.Name)
                @Html.ValidationMessageFor(s => s.Name)
            </div>
        </div>*@
        <div class="control-group">
            @Html.LabelFor(s => s.Email, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(s => s.Email)
                @Html.ValidationMessageFor(s => s.Email)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(s => s.Phone, new { @class = " control-label" })
            <div class="controls">
                @Html.TextBoxFor(s => s.Phone)
                @Html.ValidationMessageFor(s => s.Phone)
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" data-loading-text="saving...">@Basic.Save</button>
        </div>
    </div>
}
<script type="text/javascript">
    if (typeof SaveSuccess == "undefined") {

        function SaveSuccess(e) {
            alert("@Basic.SaveSuccess");
        }
        }

</script>
