@using System.Security.AccessControl
@using Ornament.Web
@using Resources
@using Ornament.Web.HtmlExtends;
@model Ornament.MemberShip.User
@{
    var emailAttr = new Dictionary<string, object>
    {
        {"ms-duplex", "user.Email"}
    };
    var nameAttr = new Dictionary<string, object>()
    {
        {"ms-duplex","user.Name"}
    };
    var phoneAttr = new Dictionary<string, object>()
    {
        {"ms-duplex","user.Phone"}
    };
    var languageAttr = new
    {
        HtmlAttributes =
        new Dictionary<string, object>()
    {
        {"ms-duplex","user.Language"}
    }
    };
    var timezoneAttr = new
    {
        HtmlAttributes = new Dictionary<string, object>()
        {

            {"ms-duplex", "user.TimeZone"}
        }
    };
    
}
<form class="form-horizontal" ms-controller="basicInfo" ms-on-submit="save" >

    <div class="control-group">
        @Html.LabelFor(s => s.Name, new { @class = " control-label" })
        <div class="controls">
            @Html.TextBoxFor(s => s.Name, nameAttr)
            @Html.ValidationMessageFor(s => s.Name)
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(s => s.Contact.Email, new { @class = "control-label" })
        <div class="controls">
            <div class="input-append">
                @Html.TextBoxFor(s => s.Contact.Email, emailAttr)
                <button id="VerifyEmail" class="btn" type="button">@Basic.Validate</button>
            </div>
            @Html.ValidationMessageFor(s => s.Contact.Email)

        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(s => s.Contact.Phone, new { @class = " control-label" })
        <div class="controls">
            @Html.TextBoxFor(s => s.Contact.Phone, phoneAttr)
            @Html.ValidationMessageFor(s => s.Contact.Phone)
        </div>
    </div>
    @Html.EditorFor(s => s.Language, languageAttr)
    @Html.EditorFor(s => s.TimeZoneId, timezoneAttr)
    <div class="form-actions">
        <button class="btn btn-primary" data-loading-text="saving..." >@Basic.Save</button>
    </div>
</form>

