@using Ornament.Web
@using Qi.Web.Mvc
@using SeajsBundles
@model Ornament.MemberShip.Plugin.Models.Memberships.ChangePasswordModel
<div class="form-horizontal" id='pwd'>
    @Html.EditorFor(_ => _.CurrentPassword)
    @Html.EditorFor(_ => _.NewPassword)
    @Html.EditorFor(_ => _.ConfirmPassword)
    <div class="form-actions">
        <button id="pwdBtn" class="btn btn-primary" type="submit">@Resources.Basic.OK
            <i class="icon-pencil icon-white"></i>
        </button>
    </div>

</div>
<script type="text/javascript">
    define('pwd', function (require) {
        var $ = require('jquery');
        require('bootstrap')($);
        require('bootbox')($);
        var user = require('/MemberShips/Scripts/Share/user.js');
        $("#pwdBtn").click(function () {

            user.ChangePassword($("#NewPassword").val(), $("#ConfirmPassword").val(), $("#CurrentPassword").val(), function (d) {
                if (d) {
                    bootbox.alert("@Html.GetResourceString("Success_changed_pwd")");
                }
                else { bootbox.alert("@Html.GetResourceString("Fail_change_pwd")") ;}
                
            });

            return false;
        });
    });
    seajs.use('pwd');
</script>
