@using Ornament
@using Ornament.Web
@using Ornament.Web.HtmlExtends;
@using Resources
@model Ornament.Models.Memberships.ForgetPassword
@{
    ViewBag.Title = Html.GetResourceString("Forget Password");
    Layout = OrnamentContext.Configuration.BackendLayout();
}

@section head
{
    <style type="text/css">
        .forgetPassword
        {
            left: 50%;
            margin: -142px 0 0 -142px;
            position: absolute;
            top: 50%;
            width: 284px;
        }
    </style>
}

<!-- Login block -->
<div class="forgetPassword">
    <div class="navbar">
        <div class="navbar-inner">
            <h6><i class="icon-envelope"></i>@Html.GetResourceString("Title")</h6>
        </div>
    </div>

    <div class="well">
        <form class="row-fluid" method="POST" action="@Url.Action("ForgetPassword")">
            
            <div class="control-group">
                <label class="control-label">@Html.LabelFor(s => s.AccountOrEmail)</label>
                <div class="controls">
                    <input type="text" name="AccountOrEmail" class="span12" />
                    @Html.ValidationMessageFor(s => s.AccountOrEmail)
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" value="@Basic.OK" class="btn btn-danger btn-block " />
            </div>
        </form>

    </div>
</div>
