@using System.Web.Optimization
@using Ornament
@using Ornament.MemberShip.Permissions

@using Ornament.MemberShip.Plugin.Areas.MemberShips.Models
@using Ornament.MemberShip.Plugin.Models
@using Ornament.MemberShip.Plugin.Models.Memberships
@using Ornament.Web
@using Resources
@model Ornament.MemberShip.User
@{
    ViewBag.Title = Basic.Index;
    Layout = OrnamentContext.Configuration.BackendLayout();
    IList<Permission> permissions =
        OrnamentContext.DaoFactory.MemberShipFactory.CreatePermissionDao().GetPermissionByLoginId
            (OrnamentContext.MemberShip.CurrentUser().LoginId);
    bool isFirst = true;

    var menus = new[]
    {
        new
        {
            id = "BaseInfo",
            url = "BaseInfo",
            text = Html.GetResourceString("Menu_BasicInfo"),
            skipChecked = true,
            Operator = AccountOperator.None,
            Model = (object) OrnamentContext.MemberShip.CurrentUser()
        },
        new
        {
            id = "ChangePassword",
            url = "ChangePassword",
            text = Html.GetResourceString("Menu_ChangePassword"),
            skipChecked = false,
            Operator = AccountOperator.ChangePassword,
            Model = (object) (new ChangePasswordModel())
        },
        new
        {
            id = "PersonalInfo",
            url = "PersonalInfo",
            text = Html.GetResourceString("Menu_PersonalInfo"),
            skipChecked = true,
            Operator = AccountOperator.None,
            Model = (object) OrnamentContext.MemberShip.CurrentUser()
        },
        new
        {
            id = "Permissions",
            url = "Permissions",
            text = Html.GetResourceString("Menu_PermissionsInfo"),
            skipChecked = false,
            Operator = AccountOperator.ViewPermission,
            Model = (object) permissions
        }
    };
}
@section pageTitle
{
    <h5>@Basic.Setting</h5>
}

<ul class="nav nav-tabs">
    @foreach (var item in menus)
    {
        if (item.skipChecked || OrnamentContext.MemberShip.HasRight(ResourceSetting.Account, item.Operator))
        {
            if (isFirst)
            {
                isFirst = false;
                <li class="active"><a href="#@item.url" data-toggle="tab">@item.text</a></li>
            }
            else
            {
                <li><a href="#@item.url" data-toggle="tab">@item.text</a></li>
            }
        }
    }
</ul>
<div class="tab-content">
    @{
        isFirst = true;
    }
    @foreach (var item in menus)
    {
        if (item.skipChecked || OrnamentContext.MemberShip.HasRight(ResourceSetting.Account, item.Operator))
        {
            if (isFirst)
            {
                isFirst = false;
                <div id="@item.url" class="tab-pane active">
                    @Html.Partial(item.url, item.Model)
                </div>
            }
            else
            {
                <div id="@item.url" class="tab-pane">
                    @Html.Partial(item.url, item.Model)
                </div>
            }
        }
    }
</div>

@section scripts
{
      @Scripts.Render("~/Scripts/avalon.js")
    <script type="text/javascript"> avalon.config({ loader: false })   </script>
    <script type="text/javascript">

        var opts = {
            messages: {
                pwdSuccess: '@Html.GetResourceString("Msg_successChangePassword")',
                pwdFiale: '@Html.GetResourceString("Msg_FailChangePassword")',
                saveSuccess: '@Html.GetResourceString("Msg_SuccessSaving")',
            }
        };
        seajs.use("@SeajsBundles.ScriptsSeajs.RenderUrl("~/Scripts/Modules/Views/Accounts/Index.js")", function(init) {
            init(opts);
        });
    </script>
}