@using Ornament.Web
@using Resources
@model Ornament.MVCWebFrame.Models.LogonModel
@{
    ViewBag.Title = Basic.Logon;
    Layout = "~/Views/Shared/_layout.cshtml";
    Html.EnableUnobtrusiveJavaScript(true);
    Html.EnableClientValidation(true);
}
<div style="min-height: 450px">
    <div class="modal ">
        <form method="post" class="form-horizontal uniform">
            <div class="modal-header">
                <h4>@Html.GetResourceString("logonTitle")</h4>
            </div>
            <div class="modal-body">
                <p>
                    @Html.ValidationSummary(false)
                </p>
                <div class="control-group">
                    @Html.LabelFor(m => m.User, new { @class = "control-label" })
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            @Html.TextBoxFor(m => m.User)
                            @Html.ValidationMessageFor(m => m.User)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-key"></i></span>
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input name="@Html.GetResourceString("RemeberMe")" type="checkbox" />
                            @Html.GetResourceString("RemeberMe")
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">@Basic.OK</button>
                @Html.HiddenFor(m => m.ReturnUrl)
            </div>
        </form>
    </div>
</div>

