@using Ornament.Web
@model Ornament.Web.MemberShips.Models.RegistAccount
@{
    ViewBag.Title = Html.GetResourceString("title");
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
<fieldset class="cssform">
    <legend>@Html.GetResourceString("title")</legend>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        <div class="control-group">
            @Html.LabelFor(s => s.UserBasicInfo.LoginId, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(s => s.UserBasicInfo.LoginId)
                @Html.ValidationMessageFor(s => s.UserBasicInfo.LoginId)
            </div>
        </div>
        
        <div class="control-group">
            @Html.LabelFor(s => s.UserBasicInfo.Email, new { @class = "control-label" })
            @Html.TextBoxFor(s => s.UserBasicInfo.Email)
            @Html.ValidationMessageFor(s => s.UserBasicInfo.Email)
        </div>
            
        <div class="control-group">
            @Html.LabelFor(s => s.Password.Password)
            @Html.TextBoxFor(s => s.Password.Password)
            @Html.ValidationMessageFor(s => s.Password.Password)
        </div>    
        <div class="control-group">
            @Html.LabelFor(s => s.Password.ConfirmPassword)
            @Html.TextBoxFor(s => s.Password.ConfirmPassword)
            @Html.ValidationMessageFor(s => s.Password.ConfirmPassword)
        </div>            
        <div class="control-group">
            <input type="submit" value="@Resources.Basic.Regist" />
        </div>
            
            
            
    }
</fieldset>
