@model Qi.Attendance.EmployeeGroup
@using Resources
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
<div class="page-header">
    <h3>
        编辑雇员分组</h3>
    <p>
        在这里创建雇员分组，并且设置工作时间。系统会根据工作时间来分析雇员的考勤情况。
    </p>
</div>
<div class="box">
    <div class="content">
        <form class="form-horizontal" method="POST">
        @Html.HiddenFor(modal => modal.Id)
        @Html.Partial("EditorTemplates/EmployeeGroup", this.Model)
        <div class="btn-toolbar form-actions">
            <button class="btn btn-primary">@Basic.Save</button>
            <a class="btn btn-danger" href="@Url.Action("Index")" >@Basic.Cancel</a>
        </div>
        </form>
    </div>
</div>
