@using Ornament.MVCWebFrame.Areas.Attendance.Models
@using Qi
@using Qi.Attendance
@using Qi.Web
@using Resources
@model Ornament.MVCWebFrame.Areas.Attendance.Models.CardsModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    
}
@Scripts.Render("~/bundles/ko")
<div class="box">
    <div class="content">
        <form method="POST">
        @Html.Hidden("Employee", Model.Employee.Id)
        <div class="control-group">
            <label class="control-label">
                卡列表:</label>
            <div class="controls">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>
                            </td>
                            <td>
                                卡号
                            </td>
                            <td>
                                卡状态
                            </td>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:cards">
                        <tr>
                            <td>
                                <a class="btn btn-small" role="delete-card">@Basic.Delete</a>
                            </td>
                            <td>
                                <input type="text" name="Cards.Number" data-bind="value:Number" />
                                @Html.ValidationMessageFor(m => ((CardModel)null).Number)
                                <input type="hidden" name="Cards.Id" data-bind="value:Id" />
                            </td>
                            <td>
                                <select name="Cards.State" class="span2" data-bind="value:State">
                                    <option value="@CardState.Normal">@EnumHelper.ToDescription(CardState.Normal)</option>
                                    <option value="@CardState.Cancel">@EnumHelper.ToDescription(CardState.Cancel)</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <a data-bind='click: addCard ' class="btn btn-small" href="#">@Basic.Create</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="form-actions">
            <input type="button" value="@Basic.Save" class="btn btn-primary" />
        </div>
        </form>
    </div>
</div>
@section script
{
    <script type="text/javascript">
        var myCards = {
           Employee:$("#Employee").val(),
           Cards:@JsonHelper.ToJson(this.Model.Cards)         
        }; 
   
    var CardsModel = function (items) {
        this.cards = ko.observableArray(items);
        this.addCard = function () {
            this.cards.push({ Number: "", Id: "@Guid.Empty", State: "@CardState.Normal" });
        };
    };
   
    ko.applyBindings(new CardsModel(myCards.Cards));

    $(".form-actions input").click(function() {
        $.post("@Url.Action("Cards")",myCards,function (e) {
            alert("ok");
        });
    });
    </script>
}
