@model Ornament.MemberShip.UserGroup
@{
    
    Layout = "~/Views/Shared/Backend/_applayout.cshtml";
}
<script src="@Url.Content("~/Scripts/lib/jquery.doubleSelectBox.js")" type="text/javascript"></script>

@Resources.MemberShip.AssignUserGroup : @Model.Name

<form method="POST" class="form-horizontal" action="@Url.Action("AssignUser")" id="assign">

    <div class="btn-toolbar form-actions">
        <button type="submit" class="btn btn-primary">
            <i class="icon-white icon-pencil"></i>
            @Resources.Basic.Save</button>
        <button type="button" id="cancel" class="btn">
            <i class="icon-remove-sign"></i>
            @Resources.Basic.Cancel
        </button>
    </div>
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="widget">
        <div class="well body clearfix">
            <div class="left-box">
                @this.Html.Partial("UserSearch")
            </div>

            <div class="dual-control">
                <div style="position: relative; top: 50%;">
                    <div>
                        <button id="add" type="button">
                            <i class="icon-chevron-right"></i>
                        </button>
                    </div>
                    <div>
                        <button id="remove" type="button">
                            <i class="icon-chevron-left"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="right-box">
                <select name="loginIds" multiple="multiple" id="loginIds" class="multiple">
                    @foreach (var user in (IList<Ornament.MemberShip.User>)ViewData["Users"])
                    {
                        <option value="@user.LoginId">@String.Format("{0}({1})", user.Name, user.LoginId)</option>
                    }
                </select>
            </div>
        </div>
    </div>

</form>
@section head{

}
@section scripts
{
    <script type="text/javascript">
        seajs.use(['jquery', 'endlessScroll', 'listbox'], function () {

            $("#cancel").click(function () {
                document.location = '@Url.Action("Index")';
            });
            $("#assign").submit(function () {
                $("#loginIds").children().each(function () {
                    this.selected = true;
                });
            });

            $("#table").doubleSelectBox();

            $("#remove,#add").on('click', function () {
                $("#table").doubleSelectBox($(this).attr("id"));
            });
            function AddToSelector(data) {
                $("#userSearcher option").remove();
                $("#table").doubleSelectBox("addLeft", data, function (a) {
                    return {
                        name: String.format("{0}({1})", a.Name, a.LoginId),
                        value: a.LoginId
                    };
                });
            }

        });

    </script>
}
