@using System.Globalization
@using Ornament
@using Ornament.Models
@{
    CultureInfo currentLanguage = OrnamentContext.MemberShip.CurrentLanguage();
    string showName = currentLanguage.DisplayName;

    foreach (Language language in OrnamentContext.Configuration.Languages)
    {
        if (language.CultureInfo == currentLanguage)
        {
            showName = language.Name;
        }
    }
}

@helper GetFlagClass(string langName)
{
    switch (langName)
    {
        case "zh-Hans":
        case "zh-CN":
    <text>flag-cn</text>;
                        break;
        case "zh-Hant":
    <text>flag-hk</text>;
                        break;
        case "en":
    <text>flag-us</text>;
                        break;
        default:
    <text>flag-us</text>;
                        break;

    }
    
}
<ul class="header-dropdown-list hidden-xs">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/img/blank.gif" class="flag @GetFlagClass(currentLanguage.Name)"alt="United States">
            <span>@showName</span> <i class="fa fa-angle-down"></i></a>

        <ul class="dropdown-menu pull-right">

            @foreach (Language language in OrnamentContext.Configuration.Languages)
            {
                var clz = currentLanguage == language.CultureInfo ? "class='active'" : "";
                
                <li @clz>

                    <a onclick="location='@Url.Action("SwitchLanguage", "Home", new { id = language.Key })?href='+location">
                        <img src="/img/blank.gif" class="flag @GetFlagClass(language.CultureInfo.Name)" alt="@language.CultureInfo.EnglishName">
                        @language.Name
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>
