@using System.Globalization
@using Ornament
@{
    CultureInfo lang = OrnamentContext.MemberShip.CurrentLanguage();
}

@helper GetFlagClass(string langName)
{
    switch (langName)
    {
        case "zh-Hans":
        case "zh-CN":
    <text>flag-cn</text>;
                         break;
        case "zh-Hant":
    <text>flag-hk</text>;
                         break;
        case "en":
    <text>flag-us</text>;
                         break;
        default:
    <text>flag-us</text>;
                         break;

    }
    
}
<ul class="header-dropdown-list hidden-xs">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/img/blank.gif" class="flag @GetFlagClass(lang.Name)"alt="United States">
            <span>@lang.DisplayName</span> <i class="fa fa-angle-down"></i></a>

        <ul class="dropdown-menu pull-right">

            @foreach (var lan in OrnamentContext.Configuration.Languages)
            {
                var clz = lang.EnglishName == lan.CultureInfo.DisplayName ? "class='active'" : "";
                
                <li @clz>
                    <a href="@Url.Action("SwitchLanguage","Home",new{id=lan.Key})">
                        <img src="/img/blank.gif" class="flag @GetFlagClass(lan.CultureInfo.Name)" alt="@lan.CultureInfo.EnglishName">
                        @lan.CultureInfo.DisplayName
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>
