@using Ornament.Models.Security
@using Ornament.Web
@using Resources
@model Ornament.Models.Security.RetrievePasswordModel
@{
    
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_layout.cshtml";
    var valdaiate = (VerifyResult)ViewData["VerifyResult"];
}
@if (valdaiate != VerifyResult.Success)
{
    <div class="row-fluid">
        <div class="span12">
            <div style="margin: 0 auto; text-align: center">
                <h2>
                    @Html.GetResourceString(valdaiate.ToString())
                </h2>
            </div>
        </div>
    </div>

}
else
{
    <div style="width: 100%">
        <div class="widget" style="margin: 60px auto; width: 350px">
            <div class="navbar">
                <div class="navbar-inner">
                    <h4>Reset Password
                    </h4>
                </div>
            </div>
            <div class="body well">
                <form method="post">
                    @Html.EditorFor(s => s.PasswordModel.Password)
                    @Html.EditorFor(s => s.PasswordModel.ConfirmPassword)
                    @Html.HiddenFor(s => s.Id)
                    @Html.HiddenFor(s => s.TokenId)
                    <div class="form-actions">
                        <button type="submit" class="btn">@Basic.OK</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
}


