@using Ornament.Web
@using Resources
@model System.Collections.Generic.IEnumerable<Ornament.Messages.Notification.NotifyMessageTemplate>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
@section pageTitle{
    <h2>Template for Simple Message</h2>
}
<div class="actions-wrapper">
    <div class="actions">

        <div id="user-stats">
            <ul class="round-buttons">
                <li>
                    <div class="depth"><a href="@Url.Action("Create")" title="Add new Message Template" class="tip"><i class="icon-plus-sign"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a href="" title="Media posts" class="tip"><i class="icon-reorder"></i></a></div>
                </li>
            </ul>
        </div>
        <ul class="action-tabs">
            <li><a href="#user-stats" title="">@Html.GetResourceString("QuickActions")</a></li>
        </ul>
    </div>
</div>
<div class="widget">

    <div class="navbar">
        <div class="navbar-inner">

            <a class="btn btn-info" href="@Url.Action("Create")">@Basic.Create</a>
        </div>
    </div>

    <div class="well body">
        @if (Model.Count() != 0)
        {
   
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Remark)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Inside)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Remark)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Inside)
                            </td>
                            <td>
                                @Html.ActionLink(@Basic.Edit, "Edit", new { id = item.Id }, new { @class = "btn btn-small" })
                                <a data-toggle="popover" data-val="@item.Id" 
                                class="btn btn-danger btn-small" href="#">@Basic.Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    

        }
        else
        {
            <div class="alert">
                <h6>No message type found. 
                </h6>
            </div>
        }
    </div>
</div>
<div id="warning" class="hide">
    <p>Do you want to delete this message?</p>
    <button class="btn btn-danger deleteYes">@Basic.Delete</button>
    <button class="btn deleteNo">@Basic.Cancel</button>
</div>
@section scripts
{
    <script type="text/javascript">
        seajs.use(["bootstrap"], function () {
            var $popver = $("[data-toggle=popover]").popover({ html: true, content: $("#warning").html(), placement: "top", title: "Warning" });
            $(document)
                .delegate("button.deleteYes", "click", function () {
                    $("[data-toggle=popover]").popover("hide");
                    var $td = $(this).closest("td"),
                        id = $td.find("a:eq(1)").attr("data-val");

                    $.get("@Url.Action("Delete")/" + id, function (data) {
                        if (data.success) {
                            $td.closest("tr").remove();
                        } else {
                            alert(data.message);
                        }
                    });
                    $popver.popover("hide");
                })
                .delegate("button.deleteNo", "click", function () {
                    $popver.popover("hide");
                });
        });
    </script>
}