@using Resources
@model QiProject.Product
@{
    ViewBag.Title = "Create new Product";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
<div class="page-header">
    <h2>
        @Basic.Create
    </h2>
</div>
<div class="box">
    <form class="form-horizontal" method="post" action="@Url.Action("Save", "Product", new { area = "Projects" })">
    <div class="content">
        @Html.EditorFor(s => s, "Product.cshtml")
    </div>
    <p class="form-actions">
        <input type="submit" value="@Basic.Create" class="btn btn-primary"/>
        <a type="button" class="btn" href="@Url.Action("Index")">@Basic.Cancel</a>
    </p>
    </form>
</div>
@section script
{
    <script type="text/javascript">
        $(".form-actions a").click(function () {
            return confirm("Unsave current works?");
        })
    </script>
}
