@using Ornament
@using Ornament.MemberShip
@using Ornament.Web
@model Ornament.MemberShip.Web.Plugin.Models.Memberships.Partials.BasicInfo

<div class="form-horizontal">
    
    @Html.HiddenFor(model => model.Id)
    <fieldset>
        <legend>基本信息</legend>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.LoginId)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoginId, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LoginId)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.Email)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s=>s.Org)</label>
            <div class="col-md-10">
                @Html.EditorFor(model=>model.Org)
                @Html.ValidationMessageFor(model => model.Org)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.Name)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.Phone)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.Language)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Language, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Language)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.TimeZoneId)</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeZoneId, new { HtmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeZoneId)
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>可选信息</legend>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.FirstName)</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class=" fa fa-user"></i></span>
                    @Html.EditorFor(model => model.FirstName, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.LastName)</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class=" fa fa-user"></i></span>
                    @Html.EditorFor(model => model.LastName, new { HtmlAttributes = new { @class = "form-control style-0" } })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.DisplayNameFor(s => s.Birthday)</label>
            <div class="col-md-10">
                <div class="input-group">
                    @Html.EditorFor(model => model.Birthday, new { HtmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Birthday)
                </div>
            </div>
        </div>
    </fieldset>
</div>
