@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Dao

@using Ornament.MemberShip.Plugin.Models
@using Ornament.MemberShip.Web.Plugin.Areas.MemberShips.Models
@using Ornament.MemberShip.Web.Plugin.Models
@using Ornament.MemberShip.Web.Plugin.Models.Memberships
@using Qi.Web
@model Ornament.MemberShip.Org

@{
    var value = Model != null ? Model.Id : "";
    var orgName = Model != null ? Model.Name : "请选择组织";
}

<div ms-widget="org" data-org-id="@Html.Id("")" data-org-selected-id="@value" data-org-selected-name="@orgName">
    <input type="hidden" ms-attr-value="{{selectedId}}" id="@Html.Id("")" name="@Html.Name("")"/>
    <a href="#" id="@Html.Id("")_pop" data-toggle="modal" data-target="#@Html.Id("")_modal">
        <i class="fa fa-sitemap"></i> {{selectedName}}
    </a>
</div>
