@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Dao

@using Ornament.MemberShip.Plugin.Models
@using Ornament.MemberShip.Web.Plugin.Areas.MemberShips.Models
@using Ornament.MemberShip.Web.Plugin.Models
@using Ornament.MemberShip.Web.Plugin.Models.Memberships
@using Qi.Web
@model Ornament.MemberShip.Org

@{
    var value = Model != null ? Model.Id : "";
}

<div ms-widget="org" data-org-id="@Html.Id("")">
    <input type="hidden" value="@value" id="@Html.Id("")" name="@Html.Name("")"/>
    <a href="javascript:;" id="@Html.Id("")_pop" data-toggle="modal" data-target="#@Html.Id("")_modal">
        <i class="fa fa-sitemap"></i> @(Model != null ? Model.Name : "请选择")
    </a>
</div>
