@model Ornament.MemberShip.Web.Plugin.Models.Memberships.Partials.PermissionInfo


<form class="form-horizontal" method="post" action="/MemberShips/User/SavePermission">
    <div class="form-group">
        <label class="col-md-2">@Html.DisplayNameFor(s => s.Deny)</label>
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.Deny, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Deny)

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">@Html.DisplayNameFor(s => s.IsLock)</label>
        <div class="col-md-10">
            @Html.CheckBoxFor(model => model.IsLock, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IsLock)
        </div>
    </div>
   

    <div class="form-group">
        <label class="col-md-2">@Html.DisplayNameFor(s => s.Roles)</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Roles)
            @Html.ValidationMessageFor(model => model.Roles)
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">@Html.DisplayNameFor(s => s.UserGroups)</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserGroups, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserGroups)
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">@Html.DisplayNameFor(s => s.Remark)</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Remark, new { HtmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Remark)
        </div>
    </div>
    
    <div class="form-actions">
        <button class="btn btn-primary">
            <i class="fa fa-save"></i>@Ornament.Properties.Resources.Save
        </button>
    </div>

</form>
