@model Ornament.MemberShip.Plugin.Models.Memberships.Partials.UserOtherInfoModel
<div class="control-group">
    @Html.LabelFor(model => model.UpdateTime, new { @class = "control-label" })
    <div class="controls">
        <label id="UpdateTime" class="checkbox">
            @Model.UpdateTime
        </label>
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.CreateTime, new { @class = "control-label" })
    <div class="controls">
        <label id="CreateTime" class="checkbox">
            @Model.CreateTime
        </label>
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.LastPasswordChangedTime, new { @class = "control-label" })
    <div class="controls">
        <label id="LastPasswordChangedDate" class="checkbox">
            @Model.LastPasswordChangedTime
        </label>
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.LastLockoutDate, new { @class = "control-label" })
    <div class="controls">
        <label id="LastLockoutDate" class="checkbox">
            @Model.LastLockoutDate
        </label>
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.LastLoginDate, new { @class = "control-label" })
    <div class="controls">
        <label id="LastLoginDate" class="checkbox">
            @Model.LastLoginDate
        </label>
    </div>
</div>
<div class="control-group">
    @Html.LabelFor(model => model.LastActivityTime, new { @class = "control-label" })
    <div class="controls">
        <label id="LastActivityDate" class="checkbox">
            @Model.LastActivityTime
        </label>
    </div>
</div>
