@model Ornament.Models.Messages.MessageTypeModel
@using Ornament.Web.HtmlExtends
@{
   
}

@Html.HiddenFor(s => s.Id)
@if (this.Model.Parent != null)
{
    <input type="hidden" name="Parent" value="@this.Model.Parent.Id" />
    <div class="control-group">
        <label for="Parent" class="control-label">Parent</label><div class="controls">
            <input type="text" value="@this.Model.Parent.Name" name="Parent" id="Parent" disabled="disabled">
        </div>
    </div>
}
@Html.BootstrapLabelTextBoxFor(s => s.Name)
@Html.BootstrapLabelTextAreaFor(s => s.Remark)
