@using Ornament
@using Ornament.Properties
@using Ornament.Web
@using Ornament.Web.UI.Theme
@model Ornament.MemberShip.Plugin.Models.Memberships.EditUserModel
@{
    ViewBag.Title = Resources.Edit + " " + Model.LoginId;
    Layout = OrnamentContext.Configuration.Layout();
}

@section pageTitle{
    <h3>
        @Model.LoginId
    </h3>
}
<form method="POST" action="@Url.Action("Edit")" class="form-horizontal">
    @using (Panel panel = Html.Panel())
    {
        @panel.Header(@<text>
        <button id="submitButton" class="btn btn-info" type="submit">@Resources.Save</button>
        <a id="cancelButton" class="btn" href="@Url.Action("Index", "User", new { area = "MemberShips" })">@Resources.Cancel</a>
        </text>)
        @panel.Body(@<text>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#editUser" data-toggle="tab">@Html.GetEmbededResourceString("Create", "tab_basicInfo")</a></li>
            <li><a href="#Options" data-toggle="tab">@Html.GetEmbededResourceString("Create", "tab_Permission")</a></li>
            <li><a data-toggle="tab" href="#anotherInfo">@Html.GetEmbededResourceString("tab_anotherInfo")</a></li>
        </ul>

        <div class="tab-content">
            <div id="editUser" class="tab-pane active">
                @Html.EditorFor(s => s, "BasicInfo")
            </div>
            <div id="Options" class="tab-pane">
                @Html.EditorFor(s => s.Permissions, "_PermissionInfo")
            </div>
            <div id="anotherInfo" class="tab-pane">
                @Html.EditorFor(s => s.OtherInfo)
            </div>
        </div>

        <p class="form-actions">
            <button id="submitButton" class="btn btn-info" type="submit">@Resources.Save</button>
            <a id="cancelButton" class="btn" href="@Url.Action("Index", "User", new { area = "MemberShips" })">@Resources.Cancel</a>
        </p>
        </text>)
    }

</form>

@section scripts{
    <script type="text/javascript">
        seajs.use('@Scripts.Url("/memberships/Scripts/user/edit.js")');
    </script>
}