@using Qi
@model Enum
@{
    var display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    var inputName = ViewData.TemplateInfo.GetFullHtmlFieldName(ViewData.TemplateInfo.HtmlFieldPrefix);
    var dict = EnumHelper.GetDescriptionList(this.Model.GetType());
    object current = this.Model ?? Enum.GetValues(this.Model.GetType()).GetValue(0);
}
<div class="control-group">
    <label class="control-label">@display</label>
    <div class="controls">
        @foreach (var key in dict.Keys)
        {
            <label class="checkbox inline">
                @if (!dict[key].Equals(current))
                {
                    <input type="checkbox" value="@dict[key]"name="@inputName" />
                }
                else
                {
                    <input type="checkbox" value="@dict[key]" checked="checked" name="@inputName" />
                }
                @key
            </label>
        }
    </div>
</div>
