@model Ornament.Messages.Plugin.Areas.Messages.Models.ClientSenderModel
<div class="form-group">
    @Html.LabelFor(s => s.Server)
    @Html.TextBoxFor(s => s.Server, new Dictionary<string, object>()
    {
        {"ms-duplex","ClientSender.Server"},{"class","form-control"}
    })
    @Html.ValidationMessageFor(s => s.Server)
</div>

<div class="form-group">
    @Html.LabelFor(s => s.PrivateCode)
    @Html.TextBoxFor(s => s.Server, new Dictionary<string, object>()
        {
            {"ms-duplex","ClientSender.PrivateCode"},{"class","form-control"}
        })
    @Html.ValidationMessageFor(s => s.PrivateCode)
</div>


