@using Ornament
@using Ornament.Web.UI.Theme
@model Ornament.Messages.Plugin.Areas.Messages.Models.SenderModel


@using (var panel = Html.Panel("col-md-6"))
{
    @panel.Header(@<text>
    <h2>Edit Sender Setting</h2>
    </text>)

    @panel.Body(@<text>
    <form ms-controller="editSender">
        <div class="form-group">
            @Html.LabelFor(s => s.Name)

            @Html.TextBoxFor(s => s.Name, new Dictionary<string, object>()
        {
            {"ms-duplex","Name"},{"class","form-control"}
        })
            @Html.ValidationMessageFor(s => s.Name)

        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Remarks)
            @Html.TextBoxFor(s => s.Remarks, new Dictionary<string, object>()
        {
            {"ms-duplex","Remarks"},{"class","form-control"}
        })
            @Html.ValidationMessageFor(s => s.Remarks)
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.SenderType)
            <select id="SenderType" name="SenderType" ms-duplex="senderType" class="form-control">
                <option value="email" selected="selected">Email</option>
                <option value="client">Client</option>
            </select>
        </div>
        <div ms-if="senderType=='email'">
            @Html.EditorFor(s=>s.EmailSender,"_email")
        </div>
        <div ms-if="senderType=='client'">
            @Html.EditorFor(_=>_.ClientSender,"_client")
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i>
                @Ornament.Properties.Resources.Save
            </button>
        </div>
    </form>
    </text>)
}




}