@model Ornament.Messages.Plugin.Areas.Messages.Models.EmailSenderModel

<div class="form-group">
    @Html.LabelFor(s => s.Account, new { @class = "control-label" })
    @Html.TextBoxFor(s => s.Account, new Dictionary<string, object>
    {
        {"ms-duplex", "EmailSender.Account"}, {"class", "form-control"},
        {"ms-attr-disabled", "disabled || SenderType!='email'"}
    })
    @Html.ValidationMessageFor(s => s.Account)
</div>

<div class="form-group">
    @Html.LabelFor(s => s.Password, new { @class = "control-label" })
    @Html.TextBoxFor(s => s.Password, new Dictionary<string, object>
    {
        {"ms-duplex", "EmailSender.Password"}, {"class", "form-control"},
        {"ms-attr-disabled", "disabled || SenderType!='email'"}
    })
    @Html.ValidationMessageFor(s => s.Password)
</div>

<div class="form-group">
    @Html.LabelFor(s => s.SmtpServer, new { @class = "control-label" })
    @Html.TextBoxFor(s => s.SmtpServer, new Dictionary<string, object>
    {
        {"ms-duplex", "EmailSender.SmtpServer"}, {"class", "form-control"},
        {"ms-attr-disabled", "disabled || SenderType!='email'"}
    })
    @Html.ValidationMessageFor(s => s.SmtpServer)
</div>


<div class="form-group">
    @Html.LabelFor(s => s.Port, new { @class = "control-label" })
    @Html.TextBoxFor(s => s.Port, new Dictionary<string, object>
    {
        {"ms-duplex", "EmailSender.Port"}, {"class", "form-control"}, {"ms-attr-disabled", "disabled || SenderType!='email'"}
    })
    @Html.ValidationMessageFor(s => s.Port)
</div>
