@using Ornament
@using Ornament.Web.UI.Theme


@{
    ViewBag.Title = "title";
    Layout = Ornament.OrnamentContext.Configuration.Layout();
}

@section pageTitle{
    <h4>Sender setting</h4>
}

@using (var panel = Html.Panel(new PanelOption()
{
    HtmlAttributes = new Dictionary<string, object>()
    {
        {"ms-controller","senderList"}
    }
}, "col-md-5"))
{
    @panel.Header(@<text>

    </text>)

    @panel.Body(@<text>
    <a class="btn btn-default" href="javascript:;" ms-click="create">@Ornament.Properties.Resources.Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Operator</th>
            </tr>
        </thead>
        <tbody>
            <tr ms-repeat="Senders">
                <td ms-title="el.Remarks">{{el.Name}}</td>
                <td>
                    <a href="javascript:;" ms-click="Edit">@Ornament.Properties.Resources.Edit</a>
                </td>
            </tr>
        </tbody>

    </table>
    </text>)
}

@Html.Partial("_edit")

@section scripts{
    <script type="text/javascript">
        require(["/Messages/Scripts/Sender/Index.js"], function (main) {
            main.init();
            clearPageVariable.push(main.clear);
        })
    </script>}