@using Ornament
@using Ornament.Properties
@using Ornament.Web.UI.Theme
@{
    ViewBag.Title = "title";
    Layout = OrnamentContext.Configuration.Layout();
    var panelOptions = new PanelOption
    {
        HtmlAttributes = new Dictionary<string, object>
        {
            {"ms-controller", "senderList"}
        }
    };
}

@section pageTitle{
    Sender setting
}

@using (Panel panel = Html.Panel(panelOptions, "col-md-5"))
{
    @panel.Header(@<text></text>)

    @panel.Body(@<text>
                     <div class="widget-body-toolbar">
                         <a class="btn btn-default" href="javascript:;" ms-click="create">@Resources.Create</a>
                     </div>

                     <table class="table">
                         <thead>
                             <tr>
                                 <th>Name</th>
                                 <th>Operator</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr ms-repeat-el="Senders">
                                 <td ms-attr-title="el.Remarks">{{el.Name}}</td>
                                 <td>
                                     <a class="btn btn-primary" href="javascript:;" ms-click="Edit(el.Id)">@Resources.Edit</a>
                                     <a class="btn btn-danger" href="javascript:;" ms-click="del(el,$remove)">@Resources.Delete</a>
                                 </td>
                             </tr>
                         </tbody>

                     </table>
                 </text>)
}

@Html.Partial("_edit")

@section scripts{
    <script type="text/javascript">
        require(['@Scripts.Url("/Messages/Scripts/Sender/Index.js")'], function(main) {
            main.init({
                get: '@Url.Action("GetSender")',
                del:'@Url.Action("Delete")'

            });
            clearPageVariable.push(main.clear);
        })
    </script>}