@using Ornament.Messages
@using Ornament.Web
@model IEnumerable<Ornament.Messages.Message>
@{
    ViewBag.Title = "Typography";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    var messageManager = OrnamentContext.Current.GetMessageManager();
    var currentInfo = (MessageType)ViewData["currentType"];
}
@section script
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#eventlogs").accordion();
            $("dl a").click(function () {

            });
        })
    </script>
}
<div class="container">
    <div class="span4">
        @if (Model != null)
        {
            <div id="eventlogs">
                @foreach (Message a in Model)
                {
                    <h3>
                        <a>@a.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</a></h3>
                    <p>
                        @a.Show(OrnamentContext.Current.GetStoreManager())
                    </p>
                }
            </div>
            
        }
    </div>
    <div class="span8">
        <dl>
            @foreach (MessageType messageType in messageManager.SystemMessageType.GetChildTypes())
            {
                if (messageType.Count != 0)
                {
                <dt><a>@messageType.Name</a></dt>
                  foreach (MessageType child in messageType.GetChildTypes())
                  {
                <dd>
                    <a val="@child.Id">@child.Name</a></dd>
                  }
                }
            }
        </dl>
    </div>
</div>
