@using Ornament
@using Ornament.Messages.Notification
@using Ornament.Messages.PersonalMessages
@using Ornament.Web
@{
    ViewBag.Title = "Message Index";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    var personalMessages = (IList<PersonalMessage>)ViewData["PM"];
    var notifyMessage = (IList<SimpleMessage>)ViewData["SimpleMessage"];
}
<style type="text/css">
    .unRead {
        font-weight: bold;
    }
</style>
@section pageTitle
{
    <h5>Messages</h5>
}

@helper NotifyMethod(IEnumerable<SimpleMessage> simpleMessages)
{
    foreach (var msg in simpleMessages)
    {
    <h6>@msg.Content.Subject<small>@msg.CreateTime</small></h6>
    <p val="@msg.Id" class="unRead">
        @msg.Content.Value
    </p>
    }
}

@helper PersonalMessage(IEnumerable<PersonalMessage> pms)
{
    foreach (PersonalMessage msg in pms)
    {
        string showName = msg.Receiver.LoginId == OrnamentContext.MemberShip.CurrentUser().LoginId ? msg.Publisher.Name : msg.Receiver.Name;

    <h6><a href="#@msg.Publisher.Id" role="pmReplay">@showName<small>@msg.CreateTime</small></a></h6>
    <p val="@msg.Id">
        @Html.Raw(msg.Content)
    </p>
    }
}


<div class="widget">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#notify"><i class="fam-layout-content"></i>通知</a></li>
            <li class=""><a data-toggle="tab" href="#pm"><i class="fam-date"></i>私信</a></li>
        </ul>
        <div class="tab-content">
            <div id="notify" class="tab-pane active">@NotifyMethod(notifyMessage)</div>
            <div id="pm" class="tab-pane">@PersonalMessage(personalMessages)</div>
        </div>
    </div>
</div>
@Html.Partial("_pm")
@section scripts
{
    <script type="text/javascript">

        seajs.use(["/models/pm.js"], function (pm) {

            $("[role=pmReplay]").on("click", function () {
                var relativeUserId = $(this).attr("href").substr(1);
                pm.Show("#pmEditor", relativeUserId, "@OrnamentContext.MemberShip.CurrentUser().Name");
                return false;
            });

            $(".unRead").on("mouseover", function (e) {
                var self = $(this);
                $.get("@Url.Action("MakeRead")/" + $(this).attr("val"), function (d) {
                    if (d) {
                        self.removeClass("unRead").off("mouseover");
                    }
                });
                return false;
            });

        });
    </script>

}