@using Ornament
@using Ornament.Web
@using Resources
@model Ornament.MVCWebFrame.Areas.MemberShips.Models.PermissionWizard
@{
    Layout = "~/Views/Shared/_appLayout.cshtml";
    ResourceDescription resourceDescription = OrnamentContext.ResourceManager.Configuration().Get(Model.DescriptionResourceName);
}
@section pageTitle
{
<h5>Choice Resource</h5>    
}


<div class="box">
    <div class="content">
        @using (Html.BeginForm())
        {
            <fieldset class="form-horizontal">
                @Html.Partial("PermissionWizardDataView", Model)
                <div>
                    @Html.Partial(resourceDescription.Path.Trim(), Model)
                </div>
                <div class="form-actions">
                    <button type="submit" id="previous" value="false" name="forward" class="btn">
                        <i class="icon-chevron-left"></i>@Basic.Previous</button>
                    <button type="submit" id="next" value="true" name="forward" class="btn btn-primary">@Basic.Next<i
                        class="icon-chevron-right icon-white"></i>
                    </button>
                    <a type="button" id="cancel" style="margin-left: 20px" class="btn btn-danger" href="@Url.Action("Index")">
                        @Basic.Cancel</a>
                </div>
            </fieldset>
        }
    </div>
</div>
@section script
{
    <script type="text/javascript">

        $("#cancel").click(function() {
            return confirm("@Html.GetResourceString("message", "warnning_leave_without_saving")");
        });

    </script>
}
