@using Ornament
@using Ornament.Web
@using Resources
@model Ornament.MemberShip.Permissions.Permission
@{
    ViewBag.Title = "Permission";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
@section pageTitle{
    <h5>Permission</h5>
}

<div class="widget">
    <div class="navbar">
        <div class="navbar-inner">
            <h6>Permission wizard</h6>
            <div class="nav pull-right">
                <a href="#" class="dropdown-toggle navbar-icon" data-toggle="dropdown"><i class="icon-cog"></i></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#"><i class="icon-plus"></i>Add new option</a></li>
                    <li><a href="#"><i class="icon-reorder"></i>View statement</a></li>
                    <li><a href="#"><i class="icon-cogs"></i>Parameters</a></li>
                </ul>
            </div>
        </div>
    </div>
    <form id="wizard2" method="post" action="#" class="form-horizontal row-fluid well">
        <fieldset class="step" id="theFirst">
            <div class="step-title">
                <i>1</i>
                <h5>选择资源类别</h5>
                <span>Permission 由 资源和操作组成，因此这里选择需要资源的类别。</span>
            </div>
            <div>
                @{
                    var i = -1;
                    bool foundSelected = false;
                    foreach (var resourceDescription in OrnamentContext.ResourceManager.Configuration().ResourceSettings)
                    {
                        foundSelected = i == -1 || (this.Model != null && resourceDescription.ValueType == this.Model.Resource.GetType());
                        i++;

                    <div class="control-group">
                        <label for="@("ResourceType" + i)">
                            @Html.RadioButton("DescriptionResourceName", resourceDescription.Name, foundSelected, new { id = "ResourceType" + i })
                            @resourceDescription.Name
                        </label>
                    </div>
                    }
                }
            </div>
        </fieldset>
        <fieldset id="resourceView" class="step">
            <div class="step-title">
                <i>2</i>
                <h5>选择你要对应</h5>
                <span>Aenean sem dui, semper sit amet luctus sit amet, molestie vitae nunc</span>
            </div>
            <div id="resViewContent">
            </div>
        </fieldset>
        <fieldset id="editPermission" class="step">
            <div class="step-title">
                <i>3</i>
                <h5>设置许可证基础信息</h5>
                <span></span>
            </div>
            <div id="editPermissionView">
                <div class="control-group">
                    @Html.LabelFor(s => s.Name, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(s => s.Name)
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(s => s.Remark, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextAreaFor(s => s.Remark)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">@Html.GetResourceString("Operators")</label>
                    <div class="controls" id="operators">
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-actions align-right">
            <div id="status1" class="status"></div>
            <input class="btn" id="back-2" value="Back" type="reset" />
            <input type="submit" class="btn btn-danger" id="next-2" value="Next">
        </div>
    </form>
    <div class="submit-data" id="w1"></div>
</div>
@section script
{
    <script type="text/javascript">
        seajs.use(["/bundles/jqueryui", "wizard"], function () {
            $("#wizard2").formwizard({
                formPluginEnabled: true,
                validationEnabled: false,
                focusFirstInput: false,
                disableUIStyles: true,
                formOptions: {
                    success: function(data) {
                        $("#status1").fadeTo(500, 1, function() {
                            $(this).html("<span>Form was submitted!</span>").fadeTo(5000, 0);
                        });
                    },
                    beforeSubmit: function(data) {
                         $("#data1").html("<span>Form was submitted with ajax. Data sent to the server: " + $.param(data) + "</span>");
                    },
                    resetForm: true
                }
            });

            $(":checkbox", $("#operators")).click(function () {

                var check = this.checked;
                var beCheckValue = $(this).val();

                $(this).siblings(":checkbox").each(function () {
                    if (beCheckValue == 0) {
                        this.checked = !check;
                    }
                    var checkValue = $(this).val();
                    var include;
                    if (beCheckValue >= checkValue) {
                        include = hasPermission(beCheckValue, checkValue);
                        if (include && check) {
                            this.checked = true;
                        }
                    } else {
                        include = hasPermission(checkValue, beCheckValue);
                        if (include && !check) {
                            this.checked = false;
                        }
                    }
                });
            });

            $("#wizard2").bind("before_step_shown", function (event, data) {
                if (data.currentStep == "resourceView") {
                    var a = "@Url.Action("ChoiceResourceView")/" + $("[name=DescriptionResourceName]").val();
                    $("#resViewContent").load(a);

                } else if (data.currentStep == "editPermission") {
                    var input = {
                        resourceId: $("[name=ResourceId]").val(),
                        permissionId: "@(this.Model != null ? this.Model.Id : "")"
                    };
                    var url = "@Url.Action("Operators")/" + $("[name=DescriptionResourceName]").val();
                    $.get(url, input, function (d) {
                        var labels = [];
                        for (var key in d) {
                            labels.push('<label class="checkbox"><input name="Operator" type="checkbox" value="' + d[key] + '"/>' + key + '</label>');
                        }

                        $("#operators").html("").append(labels.join(""));
                        
                        (function (permissions) {
                            $("#operators :checkbox").each(function () {
                                var theValue = parseInt(this.value);
                                var value = theValue & permissions;
                                this.checked = (value == theValue) && (permissions > theValue) && (theValue != 0);
                            });
                        })(@(this.Model != null ? this.Model.Operator : 0));
                    });
                }
            });
        });
    </script>

}
