@using Ornament
@using Ornament.Properties
@using Ornament.Web.UI.Theme
@model Ornament.MemberShip.Plugin.Models.Memberships.UserGroupModel
@{
    ViewBag.Title = Resources.Edit + ":" + Model.Name;
    Layout = OrnamentContext.Configuration.Layout();
}
@section pageTitle
{
    <h5>@Model.Name</h5>
}

@using (var panel = Html.Panel())
{
    
    @panel.Body(@<text>
    <form class="form-horizontal" method="POST">

        @Html.ValidationSummary()

        @Html.EditorFor(s => s.Name)
        @Html.EditorFor(s => s.Roles)
        @Html.EditorFor(s => s.Remark)
        @Html.HiddenFor(model => model.Id)

        <div class="btn-toolbar form-actions">
            <button type="submit" id="submit" class="btn btn-primary">@Resources.Save</button>
            <a id="cancel" href="@Url.Action("Index")" class="btn">@Resources.Cancel</a>
        </div>


    </form>
    </text>)
}

