@using Ornament
@using Ornament.Properties
@using Ornament.Web
@using Ornament.Web.UI.Theme
@model IEnumerable<Ornament.MemberShip.UserGroup>

@{
    ViewBag.Title = Html.GetEmbededResourceString("page_title");
    Layout = OrnamentContext.Configuration.Layout();

    var listPanelOptions = new PanelOption
    {
        ColorButton = true,
        HtmlAttributes = new Dictionary<string, object>
        {
            {"ms-controller", "index"}
        }
    };
    
}
@section pageTitle{
    <h6>@Html.GetEmbededResourceString("page_title")</h6>
}

@section scripts{
    <script type="text/javascript">
        function clearPageVar() {
            delete avalon.vmodels["index"];
        }
    </script>
}

@using (Panel panel = Html.Panel(listPanelOptions, "col-md-5 col-lg-4", "col-xs-4", "col-sm-4"))
{
    @panel.Header(@<text>
    <h2>@Html.GetEmbededResourceString("page_title")</h2>
    <div class="widget-toolbar">
        <a id="add" class="btn btn-primary" href="@Url.Action("Create")">
            <i class="fa-plus fa"></i>@Resources.Create
        </a>
    </div>
    </text>);

           
    @panel.Body(@<text>

    <div id="userGroup">
        <ul class="dd-list">
            <ol ms-repeat-el="usergroups" class="dd-item">
                <div class="dd-handle" style="cursor: pointer">
                    <button ms-click="del" ms-title="el.Remarks" class="btn btn-xs">
                        <i class="fa-share fa"></i>
                    </button>
                </div>
                <span ms-text="el.Name"></span>
            </ol>
        </ul>
    </div>
    <div  ms-widget="pager">
    </div>
    </text>);
}
