@using Ornament
@using Ornament.Properties
@using Ornament.Web
@using Ornament.Web.UI.Theme
@model IEnumerable<Ornament.MemberShip.UserGroup>

@{
    ViewBag.Title = Html.GetEmbededResourceString("page_title");
    Layout = OrnamentContext.Configuration.Layout();

    var listPanelOptions = new PanelOption
    {
        ColorButton = true,
        HtmlAttributes = new Dictionary<string, object>
        {
            {"ms-controller", "index"}
        }
    };
    
}
@section pageTitle{
    <h6>@Html.GetEmbededResourceString("page_title")</h6>
}

@section scripts{
    <script type="text/javascript">
        function clearPageVar() {
            delete avalon.vmodels["index"];
        }
    </script>
}

@using (Panel panel = Html.Panel(listPanelOptions, "col-md-5 col-lg-4", "col-xs-4", "col-sm-4"))
{
    @panel.Header(@<text>
    <h2>@Html.GetEmbededResourceString("page_title")</h2>
    <div class="widget-toolbar">
        <a id="add" class="btn btn-primary" href="@Url.Action("Create")">
            <i class="fa-plus fa"></i>@Resources.Create
        </a>
    </div>
    </text>);

           
    @panel.Body(@<text>

    <div id="userGroup">
        <ul class="dd-list">
            <ol ms-repeat-el="usergroups" class="dd-item">
                <div class="dd-handle" style="cursor: pointer">
                    <button ms-click="del" ms-title="el.Remarks" class="btn btn-xs">
                        <i class="fa-share fa"></i>
                    </button>
                </div>
                <span ms-text="el.Name"></span>
            </ol>
        </ul>
    </div>
    <div  ms-widget="pager">
    </div>
    </text>);
}

@using (Panel panel = Html.Panel(new PanelOption()
{
    HtmlAttributes = new Dictionary<string, object>()
    {
        {"ms-controller","edit"},
    }
},

    "col-md-7", "col-lg-8", "col-xs-8", "col-sm-8"))
{
    @panel.Header(@<text><h2 ms-text="editTitle">编辑</h2></text>, new Dictionary<string, object>()
                        {
                             {"ms-class","widget-body-ajax-loading:loading"}
                        })

    @panel.Body(@<text>

    <form class="form-horizontal loaading" method="POST" id="roleEdit" ms-submit="save">

        <div class="widget-body-toolbar">

            <button class="btn btn-primary" type="submit" ms-disabled="!editing">@Ornament.Properties.Resources.Save</button>
            <button class="btn btn-default" type="button" ms-click="reset" ms-disabled="!editing" ms-visiable="!IsCreated">@Ornament.Properties.Resources.Reset</button>
            <button class="btn btn-default" type="button" ms-click="cancel" ms-disabled="!editing">@Ornament.Properties.Resources.Cancel</button>
        </div>
        @Html.Partial("Edit")
    </form>
    </text>, new Dictionary<string, object>()
                        {
                             {"ms-class","widget-body-ajax-loading:loading"}
                        })
}




@section scripts{
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="/js/plugin/jquery-nestable/jquery.nestable.min.js"></script>
    <script type="text/javascript">
        require(['@Scripts.Url("/MemberShips/Scripts/userGroup/index.js")'], function (main) {
            var message = {
                createRole: '@Html.GetEmbededResourceString("CreateRole")',
                editRole: '@Html.GetEmbededResourceString("EditRole")'
            };
            main.init(message);
            clearPageVariable.push(main.clear);
        });
    </script>
}