@using Ornament
@using Ornament.Properties
@using Ornament.Web
@using Ornament.Web.UI.Theme
@model Ornament.MemberShip.Web.Plugin.Models.Memberships.EditUserModel
@{
    ViewBag.Title = Resources.Edit + " " + Model.LoginId;
    Layout = OrnamentContext.Configuration.Layout();
    var basicInfo = new PanelOption()
    {
        DeleteButton = false,
        EditButton = false,
        ToggleButton = true
    };

    var classes = new[]
    {
       "col-md-6", "col-sm-12", "col-xs-12"
    };
        
}

@* 基本信息 *@

@using (var panel = Html.Panel(basicInfo, classes))
{
    
    @panel.Header(@<text>
    <h2>@Html.GetEmbededResourceString("Create", "tab_basicInfo")</h2>
    </text>)
    @panel.Body(@<text>

    @Html.EditorFor(s => s, "BasicInfo")

    </text>)
}

@using (var panel = Html.Panel(basicInfo, classes))
{
    
    @panel.Header(@<text>
    <h2>@Html.GetEmbededResourceString("Create", "tab_anotherInfo")</h2>
    </text>)
    @panel.Body(@<text>

    @Html.EditorFor(s => s.OtherInfo, "OtherInfo")

    </text>)
}

@using (var panel = Html.Panel(basicInfo, classes))
{
    
    @panel.Header(@<text>
    <h2>@Html.GetEmbededResourceString("Create", "tab_Permission")</h2>
    </text>)
    @panel.Body(@<text>

    @Html.EditorFor(s => s.Permissions, "_PermissionInfo")

    </text>)
}




@section scripts{
    <script type="text/javascript">
        require(['@Scripts.Url("~/memberships/Scripts/user/edit.js")']);
    </script>
}