@using Ornament
@using Ornament.Properties
@using Ornament.Web
@using Ornament.Web.UI.Theme
@model Ornament.MemberShip.Web.Plugin.Models.Memberships.EditUserModel
@{
    ViewBag.Title = Resources.Edit + " " + Model.LoginId;
    Layout = OrnamentContext.Configuration.Layout();
    var basicInfo = new PanelOption
    {
        DeleteButton = false,
        EditButton = false,
        ToggleButton = true
    };

    var classes = new[]
    {
        "col-md-6", "col-sm-12", "col-xs-12"
    };
}

@* 基本信息 *@

<div class="row">
    <form action="@Url.Action("Save", "User", "MemberShips")" method="POST" id="editUser" ms-controller="edit">
        <div class="alert alert-block alert-success col-lg-12 col-md-12 col-xs-12 col-sm-12" id="jusTest" style="z-index: 99;">
            <button class="btn btn-success btn-sm" type="submit"><i class="fa fa-save"></i>&nbsp;@Resources.Save</button>
            <button class="btn btn-sm btn-default" type="reset"><i class="fa fa-mail-reply"></i>&nbsp;@Resources.Reset</button>
            <a class="btn btn-sm btn-default" href="#memberships/user/index">&nbsp;@Resources.Cancel</a>
        </div>

        @using (Panel panel = Html.Panel(basicInfo, classes))
        {
            @panel.Header(@<text>
                               <h2><i class="fa fa-desktop"></i>@Html.GetEmbededResourceString("Create", "tab_basicInfo")</h2>
                           </text>)
            @panel.Body(@<text>
            
                             @Html.EditorFor(s => s, "BasicInfo")
            
                         </text>)
        }

        @using (Panel panel = Html.Panel(basicInfo, classes))
        {
            @panel.Header(@<text>
                               <h2><i class="fa fa-info-circle"></i>@Html.GetEmbededResourceString("Create", "tab_anotherInfo")</h2>
                           </text>)
            @panel.Body(@<text>

                             @Html.EditorFor(s => s.OtherInfo, "OtherInfo")

                         </text>)
        }

        @using (Panel panel = Html.Panel(basicInfo, classes))
        {
            @panel.Header(@<text>
                               <h2>@Html.GetEmbededResourceString("Create", "tab_Permission")</h2>
                           </text>)
            @panel.Body(@<text>

                             @Html.EditorFor(s => s.Permissions, "_PermissionInfo")

                         </text>)
        }
    </form>
</div>


@section scripts{
    <script type="text/javascript">
        require(['@Scripts.Url("~/memberships/Scripts/user/edit.js")'], function(main) {
            main.Init();
            clearPageVariable.push(main.Clear());
        });
    </script>
}