@using Ornament
@using Ornament.Properties
@using Ornament.Web
@using Ornament.Web.UI.Theme
@model Ornament.MemberShip.Web.Plugin.Models.Memberships.EditUserModel
@{
    ViewBag.Title = Resources.Edit + " " + Model.LoginId;
    Layout = OrnamentContext.Configuration.Layout();
    var basicInfo = new PanelOption
    {
        DeleteButton = false,
        EditButton = false,
        ToggleButton = true
    };

    var classes = new[]
    {
        "col-md-6", "col-sm-12", "col-xs-12"
    };
}

@* 基本信息 *@

<div class="row">
    <form action="@Url.Action("Save", "User", "MemberShips")" method="POST" id="editUser" ms-controller="edit" data-ajax=true>
        <div class="alert alert-block alert-success col-lg-12 col-md-12 col-xs-12 col-sm-12" id="jusTest" style="z-index: 99;">
            <button class="btn btn-info btn-sm" type="submit"><i class="fa fa-save"></i>&nbsp;@Ornament.Properties.Resources.Save</button>
            <button class="btn btn-sm" type="reset"><i class="fa fa-mail-reply"></i>&nbsp;@Ornament.Properties.Resources.Reset</button>
            <a class="btn btn-sm ajaxNav" href="/MemberShips/User/Index">&nbsp;@Ornament.Properties.Resources.Cancel</a>
        </div>

        @using (Panel panel = Html.Panel(basicInfo, classes))
        {
            @panel.Header(@<text>
            <h2><i class="fa fa-desktop"></i>@Html.GetEmbededResourceString("Create", "tab_basicInfo")</h2>
            </text>)
            @panel.Body(@<text>
            <div ms-controller="BasicInfoEditor">
                @Html.EditorFor(s => s, "BasicInfo")
            </div>
            </text>)
        }

        @using (Panel panel = Html.Panel(basicInfo, classes))
        {
            @panel.Header(@<text>
            <h2><i class="fa fa-info-circle"></i>@Html.GetEmbededResourceString("Create", "tab_anotherInfo")</h2>
            </text>)
            @panel.Body(@<text>

            @Html.EditorFor(s => s.OtherInfo, "OtherInfo")

            </text>)
        }

        @using (Panel panel = Html.Panel(basicInfo, classes))
        {
            @panel.Header(@<text>
            <h2>@Html.GetEmbededResourceString("Create", "tab_Permission")</h2>
            </text>)
            @panel.Body(@<text>

            @Html.EditorFor(s => s.Permissions, "_PermissionInfo")

            </text>)
        }
    </form>
</div>


@section scripts{
    <script type="text/javascript">
        require(['@Scripts.Url("~/memberships/Scripts/user/edit.js")'], function (main) {
            main.Init();
        });
        function clearPageVariable() {
            require(['@Scripts.Url("~/memberships/Scripts/user/edit.js")'], function (main) {
                main.Clear();
            });
        }
    </script>
}