@using Ornament
@using Ornament.Properties
@using Ornament.Web
@using Ornament.Web.UI.Theme
@model Ornament.MemberShip.Web.Plugin.Models.Memberships.EditUserModel
@{
    ViewBag.Title = Resources.Edit + " " + Model.LoginId;
    Layout = OrnamentContext.Configuration.Layout();
    var basicInfo = new PanelOption()
    {
        DeleteButton = false,
        EditButton = false,
        ToggleButton = true
    };

    var classes = new[]
    {
       "col-md-6", "col-sm-12", "col-xs-12"
    };
        
}

@* 基本信息 *@
@Html.ValidationSummary(false)
<div class="alert alert-warning fade in">
    <button data-dismiss="alert" class="close">×</button>
    <i class="fa-fw fa fa-warning"></i>
    <strong>Warning</strong> Your monthly traffic is reaching limit.
</div>

<div class="row">
    @using (var panel = Html.Panel(basicInfo, classes))
    {
    
        @panel.Header(@<text>
        <h2>@Html.GetEmbededResourceString("Create", "tab_basicInfo")</h2>
        </text>)
        @panel.Body(@<text>

        @Html.EditorFor(s => s, "BasicInfo")

        </text>)
    }

    @using (var panel = Html.Panel(basicInfo, classes))
    {
    
        @panel.Header(@<text>
        <h2>@Html.GetEmbededResourceString("Create", "tab_anotherInfo")</h2>
        </text>)
        @panel.Body(@<text>

        @Html.EditorFor(s => s.OtherInfo, "OtherInfo")

        </text>)
    }

    @using (var panel = Html.Panel(basicInfo, classes))
    {
    
        @panel.Header(@<text>
        <h2>@Html.GetEmbededResourceString("Create", "tab_Permission")</h2>
        </text>)
        @panel.Body(@<text>

        @Html.EditorFor(s => s.Permissions, "_PermissionInfo")

        </text>)
    }
</div>


@section scripts{
    <script type="text/javascript">
        require(['@Scripts.Url("~/memberships/Scripts/user/edit.js")'],function(main) {
            main.Init();
        });
    </script>
}