@using System.Collections
@using Ornament
@using Ornament.Regions
@using Ornament.Web
@using Qi.Web
@using SeajsBundles
@model Area
@{
    var privinces = OrnamentContext.DaoFactory.RegionsDaoFactory().CreateProvinceDao().GetAll();
    IList<Area> areas;
    IList<City> cities;
    if (this.Model != null)
    {
        areas = OrnamentContext.DaoFactory.RegionsDaoFactory().CreateAreaDao().FindByCity(this.Model.City);
        cities = OrnamentContext.DaoFactory.RegionsDaoFactory().CreateCityDao().FindByProvince(this.Model.City.Province);
    }
    else
    {
        areas = new List<Area>();
        cities = new List<City>();
    }

    var display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    var inputName = ViewData.TemplateInfo.HtmlFieldPrefix;
    string province = JsonHelper.ToJson(privinces.ToDictionary(s => s.Id.ToString(), s => s));
}
<script type="text/javascript">

    var privince = @Html.Raw(province);
     
</script>
<div class="control-group">
    @Html.Label(inputName, display, new { @class = "control-label" })
    <div class="controls">
        <div class="row-fluid">

            <select id="province_@inputName" class="span2 ">
                @foreach (var privince in privinces)
                {
                    if (this.Model != null && privince.Id == this.Model.City.Province.Id)
                    {
                    <option value="@privince.Id" selected="selected">@privince.Name</option>
                    }
                    else
                    {
                    <option value="@privince.Id">@privince.Name</option>
                    
                    }

                }
            </select>


            <select id="city_@inputName" class="span2">
                @foreach (var city in cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }

            </select>



            <select id="@inputName" class="span2" name="@inputName">

                @if (this.Model != null)
                {

                    foreach (var city in areas)
                    {
                    <option value="@city.Id">@city.Name</option>
                    }
                }
            </select>
            @Html.ValidationMessage(inputName)

        </div>
    </div>
</div>

<script type="text/javascript">
    seajs.use("@ScriptsSeajs.RenderUrl("~/Regions/Scripts/regions.js")",function(region) {
        region("#province_@inputName","#city_@inputName","#@inputName");
    })
</script>
