@using Ornament
@using Ornament.Regions
@using Qi.Web
@using SeajsBundles
@model Ornament.Regions.District
@{
    IList<Province> privinces = OrnamentContext.DaoFactory.RegionsDaoFactory().CreateProvinceDao().GetAll();
    IList<District> areas;
    IList<City> cities;
    if (Model != null)
    {
        areas = OrnamentContext.DaoFactory.RegionsDaoFactory().CreateAreaDao().FindByCity(Model.City);
        cities = OrnamentContext.DaoFactory.RegionsDaoFactory().CreateCityDao().FindByProvince(Model.City.Province);
    }
    else
    {
        areas = new List<District>();
        cities = new List<City>();
    }

    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    string inputName = ViewData.TemplateInfo.HtmlFieldPrefix;
    string province = JsonHelper.ToJson(privinces.ToDictionary(s => s.Id.ToString(), s => s));
}
<script type="text/javascript">

    var privince = @Html.Raw(province);

</script>
<div class="control-group">
    @Html.Label(inputName, display, new {@class = "control-label"})
    <div class="controls">
        <div class="row-fluid">

            <select id="province_@inputName" class="span2 ">
                @foreach (Province privince in privinces)
                {
                    if (Model != null && privince.Id == Model.City.Province.Id)
                    {
                        <option value="@privince.Id" selected="selected">@privince.Name</option>
                    }
                    else
                    {
                        <option value="@privince.Id">@privince.Name</option>
                    }
                }
            </select>


            <select id="city_@inputName" class="span2">
                @foreach (City city in cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }

            </select>



            <select id="@inputName" class="span2" name="@inputName">

                @if (Model != null)
                {
                    foreach (District city in areas)
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                }
            </select>
            @Html.ValidationMessage(inputName)

        </div>
    </div>
</div>

<script type="text/javascript">
    require(["@Scripts.Url("~/Regions/Scripts/region.js")"], function(region) {
        region("#province_@inputName", "#city_@inputName", "#@inputName");
    })
</script>