@using System.Text.RegularExpressions
@model Qi.Time?
@{
    var display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    var timeFormat = ViewData.ModelMetadata.DisplayFormatString ?? "HH:mm:ss";
    var displayValue = this.Model.HasValue ? this.Model.Value.ToString(timeFormat) : "00:00:00";
    var timePickerFormat = Regex.Replace(timeFormat.Replace("m", "i"), @"(\w)(\1)+", "$1");
    var inputMask = Regex.Replace(timeFormat.Replace('m', 's').ToLower(), @"(\w)(\1)+", "$1");
}
<div class="control-group">
    @Html.Label("", display, new { @class = "control-label" })
    <div class="controls">
        <div class="input-append">
            <input type="text" value="@displayValue" class="jqui-time styled" timeFormat="@timePickerFormat" inputmask-format="@inputMask" name="@ViewData.TemplateInfo.HtmlFieldPrefix">
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
        @Html.ValidationSummary("")
    </div>
</div>